<style>
.home_container {
display: flex;
align-content: center;
width: 900px;
}
</style>

<div class="home_container">
  <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <p>Ver listado de anuncios <a href="/anuncios">aquí</a></p>
</div>