<!DOCTYPE html>
<html>
<head>
<title>Anuncios Gratis segunda mano - BuenAnuncio.com</title>
<meta name="description" content="Página de anuncios de segunda mano Gratuitos. Encuentra coches de ocasión, ofertas de empleo y trabajo en tu ciudad, bricolaje, ropa o conocer gente en internet.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="all">
<link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
  <body>
    <div class="mainContainer">
      <div class="homeContainer">
        <div class="homeHeader">
          <a href="/"><img id="homeImgLogo" src="/images/baLogo.png"  alt="anuncios segunda mano" title="anuncios segunda mano"/></a>
        </div>
        <div class="homeMenu">
          <div class="homePostAd"><a href="/publicar-anuncio"><img src="/images/pencil.png" id="postAdIconHome">Publicar</a></div>
          <div class="homeMyads"><a href="/mis-anuncios"><img src="/images/myAdsIcon.png" id="myAdsIcon">Mis Anuncios</a></div>
        </div>
        <div class="homeSearchBox">
          <div class="wrap">
            <div class="search">
              <form method="GET" action="/anuncios">
                <div class="buttonSearchHomeDiv">
                  <input name="searchWord" type="text" class="searchTerm" placeholder="Escribe los que buscas...">
                    <button type="submit" class="searchButton">
                      <img src="/images/loupe.svg">
                    </button>
                </div>
                    <div class="checkContacHome">
                      <input type="checkbox" id="checkContactCat" name="checkContactCat" value="addContact">
                      <label>Buscar también en contactos</label>
                    </div>
              </form>
            </div>
          </div>
        </div>
        <div class="homeCategory">
          <div class="homeColumLeft">
            <div class="homeCategoryMotor">
              <div class="catTitleHome">
                <a href="/anuncios/motor"><img src="/images/speed.png" id="motorIconHome"><h3>Motor</h3></a>
              </div>
                <div class="eachCat">
                  <ul>
                    <a href="/anuncios/motor/coches-segunda-mano"><li>Coches</li></a>
                    <a href="/anuncios/motor/todoterrenos-segunda-mano"><li>Todoterreno</li></a>
                    <a href="/anuncios/motor/motos-segunda-mano"><li>Motos</li></a>
                  </ul>
                </div>
            </div>
            <div class="homeCategoryCasaJardin">
              <div class="catTitleHome">
                <a href="/anuncios/casa-jardin"><img src="/images/desk.png" id="homeIconHome"><h3>Casa y Jardín</h3></a>
              </div>
                <div class="eachCat">
                  <ul>
                    <a href="/anuncios/casa-jardin/herramientas-bricolaje"><li>Bricolaje</li></a>
                    <a href="/anuncios/casa-jardin/bebes-segunda-mano"><li>Para bebés</li></a>
                    <a href="/anuncios/casa-jardin/electrodomesticos-segunda-mano"><li>Electrodomésticos</li></a>
                    <a href="/anuncios/casa-jardin/muebles-segunda-mano"><li>Muebles</li></a>
                    <a href="/anuncios/casa-jardin/ropa-segunda-mano"><li>Ropa</li></a>
                    <a href="/anuncios/casa-jardin/otros-hogar"><li>Otros</li></a>
                  </ul>
                </div>
            </div>
          </div>
          <div class="homeColumRight">
            <div class="homeCategoryEmpleo">
              <div class="catTitleHome">
                <a href="/anuncios/empleo"><img src="/images/experience.png" id="adIconHome"><h3>Empleo</h3></a>
              </div>
                <div class="eachCat">
                  <ul>
                    <a href="/anuncios/empleo/servicio-domestico"><li>Servicio Doméstico</li></a>
                    <a href="/anuncios/empleo/camareros"><li>Camareros</li></a>
                    <a href="/anuncios/empleo/educacion-profesores"><li>Educación</li></a>
                    <a href="/anuncios/empleo/administrativos"><li>Administrativ@s</li></a>
                    <a href="/anuncios/empleo/otros-trabajos"><li>Otros</li></a>
                </div>
            </div>
            <div class="homeCategoryContactos">
              <div class="catTitleHome">
                <a href="/anuncios/contactos"><img src="/images/contactIconHome.png" id="contactIconHome"><h3>Contactos</h3></a>
              </div>
                <div class="eachCat">
                  <ul>
                    <a href="/anuncios/contactos/mujeres"><li>Contactos con Mujeres</li></a>
                    <a href="/anuncios/contactos/gays"><li>Contactos con Gays</li></a>
                    <a href="/anuncios/contactos/trans"><li>Contactos con Trans</li></a>
                    <a href="/anuncios/contactos/hombres"><li>Contactos con Hombres</li></a>
                    <a href="/anuncios/contactos/otras-relaciones"><li>Otros Contactos</li></a>
                  </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        <div class="footer">
          <article class="welcomeHome">
              <h4>Bienvenido a BuenAnuncio.com - Anuncios segunda mano </h4>
                <p>Anuncios clasificados de <b>segunda mano</b>, publica de forma totalmente <b>GRATIS</b> en toda España: Madrid, Barcelona, Valencia, Zaragoza, Sevilla, Malaga, Tenerife, Mallorca, Asturias y el resto.</p>
                <p>Encuentra <b>avisos</b> de coches de <b>ocasion</b> en oferta de todas las marcas: BMW, Mercedes, Volkswagen, Audi, Seat, Hyundai, Toyota, Peugeot.</p>
                <p>Disponemos de una categoría para encontrar trabajo o poder publicar una oferta de empleo. Ya sea trajabar como camarero, limpiando casas, administrativa o administrativo, informático o profesor.</p>
                <p>Si quieres comprar una <b>moto usada</b>, puedes visitar la sección de motos y encontrar la cilindrada que quieres junto con el modelo.</p>
                <p>Artículos nuevos o de <b>segundamano</b> para el hogar, <b>electrodomésticos</b>, herramientas, para <b>bebe</b>, <b>muebles</b> y <b>>ropa</b>.</p>
                <p>Encuentra productos, vehículos y todo lo que necesites en nuestra <b>página web</b> de forma rápida sin coste por publicar.</p>
          </article>
          <div class="legalContainer">      
            <div>
              <a href="/terminos-y-condiciones"> Términos y Condiciones</a>
            </div>
              <div>
              <a href="/politica-privacidad"> Política de Privacidad </a>
              </div>
              <div>
              <a href="/cuadro-cookies">Política de Cookies</a>
              </div>
              <div>
              {{!-- ¡Contactar BuenAnuncio! --}}
              </div>
          </div>
        </div>
  </body>
</html>
