<!DOCTYPE html>
<html>
<head>
<title>Home {{title}}</title>
<link rel='stylesheet' href='/stylesheets/style.css'/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
  <body>
    <div class="mainContainer">
      <div class="homeContainer">
        <div class="homeHeader">
          <a href="/"><img id="homeImgLogo" src="/images/baLogo.png"  alt="anuncios segunda mano" title="anuncios segunda mano"/></a>
        </div>
        <div class="homeMenu">
          <div class="homePostAd"><a href="/anuncios">AnunciosTest</a></div>
          <div class="homePostAd"><a href="/publicar-anuncio"><img src="/images/pencil.png" id="postAdIconHome">Publicar</a></div>
          <div class="homeMyads"><a href="/mis-anuncios"><img src="/images/myAdsIcon.png" id="myAdsIcon">Mis Anuncios</a></div>
        </div>
        <div class="homeSearchBox">
          <div class="wrap">
            <div class="search">
              <form method="GET" action="/anuncios">
                <input name="searchWord" type="text" class="searchTerm" placeholder="Escribe los que buscas...">
                  <button type="submit" class="searchButton">
                    <img src="/images/loupe.svg">
                  </button>
              </form>
            </div>
          </div>
        </div>
        <div class="homeCategory">
          <div class="homeColumLeft">
            <div class="homeCategoryMotor">
              <div class="catTitleHome">
                <a href="/anuncios?parentCategory=1&category=&state="><img src="/images/speed.png" id="motorIconHome"><h3>Motor</h3></a>
              </div>
                <div class="eachCat">
                  <ul>
                    <a href="/anuncios?parentCategory=1&category=1&state="><li>Coches</li></a>
                    <a href="/anuncios?parentCategory=1&category=3&state="><li>Todoterreno</li></a>
                    <a href="/anuncios?parentCategory=1&category=2&state="><li>Motos</li></a>
                  </ul>
                </div>
            </div>
            <div class="homeCategoryCasaJardin">
              <div class="catTitleHome">
                <a href="/anuncios?parentCategory=3&category=&state="><img src="/images/desk.png" id="homeIconHome"><h3>Casa y Jardín</h3></a>
              </div>
                <div class="eachCat">
                  <ul>
                    <a href="/anuncios?parentCategory=3&category=1&state="><li>Bricolaje</li></a>
                    <a href="/anuncios?parentCategory=3&category=2&state="><li>Para bebés</li></a>
                    <a href="/anuncios?parentCategory=3&category=3&state="><li>Electrodomésticos</li></a>
                    <a href="/anuncios?parentCategory=3&category=4&state="><li>Muebles</li></a>
                    <a href="/anuncios?parentCategory=3&category=5&state="><li>Ropa</li></a>
                    <a href="/anuncios?parentCategory=3&category=6&state="><li>Otros</li></a>
                  </ul>
                </div>
            </div>
          </div>
          <div class="homeColumRight">
            <div class="homeCategoryEmpleo">
              <div class="catTitleHome">
                <a href="/anuncios?parentCategory=2&category=&state="><img src="/images/experience.png" id="adIconHome"><h3>Empleo</h3></a>
              </div>
                <div class="eachCat">
                  <ul>
                    <a href="/anuncios?parentCategory=2&category=1&state="><li>Servicio Doméstico</li></a>
                    <a href="/anuncios?parentCategory=2&category=2&state="><li>Camareros</li></a>
                    <a href="/anuncios?parentCategory=2&category=3&state="><li>Educación</li></a>
                    <a href="/anuncios?parentCategory=2&category=4&state="><li>Administrativ@s</li></a>
                    <a href="/anuncios?parentCategory=2&category=5&state="><li>Otros</li></a>
                  </ul>
                </div>
            </div>
            <div class="homeCategoryContactos">
              <div class="catTitleHome">
                <a href="/anuncios?parentCategory=4&category=&state="><img src="/images/contactIconHome.png" id="contactIconHome"><h3>Contactos</h3></a>
              </div>
                <div class="eachCat">
                  <ul>
                    <a href="/anuncios?parentCategory=4&category=1&state="><li>Contactos con Mujeres</li></a>
                    <a href="/anuncios?parentCategory=4&category=2&state="><li>Contactos con Gays</li></a>
                    <a href="/anuncios?parentCategory=4&category=3&state="><li>Contactos con Trans</li></a>
                    <a href="/anuncios?parentCategory=4&category=4&state="><li>Contactos con Hombres</li></a>
                    <a href="/anuncios?parentCategory=4&category=5&state="><li>Otros Contactos</li></a>
                  </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
