<!DOCTYPE html>
<html>
<head>
<title>Bienvenido a {{title}}</title>
<link rel='stylesheet' href='/stylesheets/style.css'/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/index.js"></script>

</head>
  <body>
    <div class="mainContainer">
      <div class="container">
        <div class="header">
        <!--headerSeoLogo-->
        </div>
          <div class="centerContainer">
            {{{body}}}
          </div>
          <div class="lateralContainer">
            <div class="mainMenu">
            <div class="home"><a href="/anuncios">Home</a></div>
            <div class="postAd"><a href="/publicar-anuncio">Publicar</a></div>
            <div class="my-ads"><a href="/mis-anuncios">Mis Anuncios</a></div>
            {{#if session}}
            <div class="my-ads"><a href="/logout">Cerrar sesión</a></div>
            {{/if}}
          </div>
          <div class="categoryMenu"></div>
          </div>
      </div>
    </div>
  </body>
</html>
