@media (min-width:768px) {

body {
  padding: 0 50px 50px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ffa50061;
}

a {
  color: #00B7FF;
}

.mainContainer {
  display: block;
}
.header {
  display: block;
  width: 783px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #f7b265;
  height: 70px;
  display: flex;
}
.imgLogoDiv {
  width: 100%;
}
.imgLogoDiv img {
  width: 100%;
}
.description_page {
  width: 100%;
}
.logoHeader {
  width: 100%;
}

.container {
  width: 783px;
  display: flex;
  flex-direction: row;
  justify-content:center;
  background-color: white;
  margin: auto;
  min-height: 20em; 
}

#imgLogo {
  width: 100%;
  border-radius: 7px;
}

.errorPosting {
  color: white;
  font-size: 13px;
  background-color: red;
  display: block;
}

/*HOME*/
.homeMenu {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  margin: 1em 0;
}
.homeMenu div {
  width: 20%;
  display: flex;
}
.homeMenu div img {
  width: 25%;
}
.homeMenu a {
  text-decoration: none;
  color: black;
  align-items: center;
  display: flex;
}
.homeMyads {
  justify-content: center;
}
.homeHeader {
  width: 100%;
  background-color: #fedc9e;
}
.homeContainer {
  display: block;
  width: 783px;
  flex-direction: row;
  justify-content:center;
  background-color: white;
  margin: auto;
}
#homeImgLogo {
  width: 100%;
  height: auto;
  border-radius: 7px;
}
.homeCategory {
  display: flex;
  color: black;
}

.homeCategory h3 {
  color: black;
}
.homeCategory h3:hover {
  color:red;
}
.homeCategory ul {
  list-style-type: none;
  margin-bottom: 10%;
}
.homeCategory ul li {
  background-color: #f7b265;
  padding: .5em;
  border-radius: 10px;
}
.homeCategory img {
  width: 10%;
  height: 10%;
  margin: .5em;
}
.homeCategory a {
  text-decoration: none;
  color: black;
  display: flex;
  margin: 1em;
  margin-bottom: 0;
}
.homeCategory a:hover {
  color:white;
}
.homeColumLeft, .homeColumRight {
  width: 50%;
  margin-left: 5%;
}
.homeColumLeft {
  justify-content: flex-start;
  margin-left: 5%;
}
.homeColumRight {

  justify-content: flex-end;
}
.homeCategoryMotor,.homeCategoryCasaJardin,.homeCategoryEmpleo,.homeCategoryContactos {
  height: 45%;
  display: flex;
  flex-direction: column;
}
.homePostAd, .homeMyads {
  padding: 0.5em;
}

/*END OF HOME*/

.centerContainer {
  width:624px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.lateralContainer {
  width: 135px;
  margin: 0 auto;
}

.firstRow {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:flex-start;
  background-color: #ffa50052;
  margin: 0.5em 0em;
}

.attributesRow {
  display: flex;
  width: 100%;
  margin: 1em 0;
}

.atrAds {
  padding: .1em 0;
  width: 10%;
  text-align: center;
  border-radius: 5px;
  margin-right: .3em;
}
.atrEngine {
  background-color: #eaff0080;
}

.atrYear {
  background-color: #f7b265;
}
.atrKm {
  background-color: #daf1ff;
}

.atrFuel {
  background-color: #75ff7599;
  display: flex;
  align-items: center;
}

.atrPrice {
  background-color: #ff0000c9;
}

.atrDoors {
  background-color: #ff00c154;
}

.atrEngine, .atrYear, .atrKm, .atrKm, .atrFuel, .atrPrice, .atrDoors {
  min-width: 10%;
  max-width: 30%;
  width: auto;
}

.atrAds span{
  width: 100%;
  display: block;
}
.textAtr {font-size: 10px;}

.adsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
}

.ads {
  width: 620px;
  border: solid 1px #ffefc6;
  padding: .5em .3em;
  margin: 1em 0;
  background: rgb(255,215,106);
  background: linear-gradient(180deg, rgba(255, 215, 106, 0.4) 0%, rgba(255,255,255,1) 100%);
  border-radius: 5px;
}

.adBody {
  display: flex;
  
}

.adTexts {
  width: 450px;
}

.adImage {
  width: 160px;
  max-height: 180px;
}
.mainMenu {
  background-color: #ffa50059;
  height: auto;
  margin: 1em 0;
}
.mainMenu a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; 
}
.postAd {
  padding: 0.5em;
  border-top: 1px solid grey;
}
.my-ads {
	padding: 0.5em;
  border-top: 1px solid grey;
}
.home {
  padding: 0.5em;
}

.imgAd {
  width: 100%;
  max-height: 100%;
}

.adPhotoAndPictures {
  width: 100%;
}

.editImg {
  width: 100%;
}
.adImgEdit {
  width: 100%;
  margin-bottom: 1em;
}

.imgContainer {
  display: flex;
}

.adImgDelete {
  height: fit-content;
}

.imgImg {
  width: 75%;
}
.imgButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1em;
}

/*Search Box */

.searchBox {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1em auto;
  -webkit-box-shadow: -9px 11px 12px -12px rgba(163,163,163,1);
  -moz-box-shadow: -9px 11px 12px -12px rgba(163,163,163,1);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: .4em;
  border-bottom-right-radius: 5px;
}

.firstRowSearch {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#parentCategory {
  margin-bottom: 0.5em;
}

.secondRowSearch {
  text-align: right;
  margin: .4em auto;
  display: flex;
}

.categorySearch , .subCategorySearch {
  margin-right: 1em;
}

.firstLineAttr {
  display: flex;
}
.secondtLineAttr {
  display: flex;
}

.searchModel {
  width: 80px;
  margin-right: 5px;
  height: 13px;
}
.searchLabelYear {
  margin-left: 5px;
}
#attrCar {
  font-size: 8pt;
}

#searchCC {
  margin-top:0.5em;
}

#inputPriceLowMisc, #inputPriceHighMisc {
  width:50px;
}

#inputPriceHighMisc {
  margin-right: .5em;
}

.divToFirstAttr {
  display: flex;
  margin-bottom: .5em;
}

#ageHigh {
  margin-right: .5em;
}

#imgSubmitList {
  width: 25%;
}
#postAdIconHome, #myAdsIcon, #postAdIcon {
  width: 25%;
}
.contactListAd {
  width: 80%;
}
.linkToPopUp {
  text-decoration: none;
  color: black;
}

.searchBox input {
  background-color: #ffedd0;
}
.searchBox select {
  font-size: 12px;
  font-weight: 400;
  color:black;
  line-height: 1.3;
  padding: .4em 1.4em .3em .8em;
  box-sizing: border-box;
  border: 1px solid #f7b265;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
  border-radius: .3em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fedc9e7d;
  background-image: url('/images/arrowDown.png');
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}
#searchButtonList {
width: 20%;
background-color: #ff8600;
color: white;
font-size: 16px;
font-weight: 900;
border-radius: 5px;
}
.divButtonSubmitList {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divButtonSubmitList span {
  margin: .3em;
}

::-webkit-input-placeholder { /* Edge */
  color: black;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: black;
}

::placeholder {
  color: black;
}

/* end search box */

.imgSpanContact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.imgContact {
  width: 5%;
}
.spanContactList span {
  font-size: 16px;
  font-weight: 900;
}

/* send email */
.labelSendEmail {
  display:block;
}
.textAreaSendEmail {
  width:100%;
}

.dataUserPopUp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.dataUserPopUp img {
  width: 10%;
  margin-right: .5em;
}

figcaption p{
  background-color: white;
}
figcaption h3{
  background-color: white;
}

/* -----------------------------------------------------------------------*/

/*IMPORT POST HTML*/
.form-style-3{
	/* max-width: 450px; */
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-3 label{
	display:flex;
	margin-bottom: 10px;
}
.form-style-3 label > span{
	float: left;
	width: 100px;
	color: black;
	font-weight: bold;
	font-size: 13px;
	text-shadow: 1px 1px 1px #fff;
}
.form-style-3 fieldset{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 0px 0px 10px 0px;
	border: 0px;
	padding: 20px;
	/* background: #fedc9e; */
	/* box-shadow: inset 0px 0px 15px #FFE5E5;
	-moz-box-shadow: inset 0px 0px 15px #FFE5E5;
	-webkit-box-shadow: inset 0px 0px 15px #FFE5E5; */
}
.form-style-3 fieldset legend{
  color: #ffffff;
  border-top: 1px solid #f6a41e;
  border-left: 1px solid #f6a41e;
  border-right: 1px solid #f6a41e;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	background: #ffa500;
	padding: 0px 8px 3px 8px;
	box-shadow: -0px -1px 2px #F1F1F1;
	-moz-box-shadow:-0px -1px 2px #F1F1F1;
	-webkit-box-shadow:-0px -1px 2px #F1F1F1;
	font-weight: normal;
	font-size: 12px;
}
.form-style-3 textarea{
	width:250px;
	height:100px;
}
.form-style-3 input[type=text],
.form-style-3 input[type=password],
.form-style-3 input[type=date],
.form-style-3 input[type=datetime],
.form-style-3 input[type=number],
.form-style-3 input[type=search],
.form-style-3 input[type=time],
.form-style-3 input[type=url],
.form-style-3 input[type=email],
.form-style-3 select, 
.form-style-3 textarea{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #d4d4d4;
	outline: none;
	color: black;
	padding: 5px 8px 5px 8px;
	/* box-shadow: inset 1px 1px 4px #FFD5E7;
	-moz-box-shadow: inset 1px 1px 4px #FFD5E7;
	-webkit-box-shadow: inset 1px 1px 4px #FFD5E7; */
  background: #fedc9e8a;
	width:55%;
}
.form-style-3  input[type=submit],
.form-style-3  input[type=button]{
	background: orange;
	border: 1px solid white;
	padding: 5px 15px 5px 15px;
	color:white;
	box-shadow: inset -1px -1px 3px #FF62A7;
	-moz-box-shadow: inset -1px -1px 3px #FF62A7;
	-webkit-box-shadow: inset -1px -1px 3px #FF62A7;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	font-weight: bold;
}
.required{
	color:red;
	font-weight:normal;
}

.finalSubmitPost {
  margin-top: 1em;
  justify-content: flex-end;
  cursor:pointer;
  width: 100%;
}

.submitEditAd {
  margin-top: 2em;
}

.submitEditAd #submitPost:hover {
  background-color: green;
}


/* custom */

.formPostCar input {
  background:#fddca77d;
  border: 1px solid #f7b2653b;
  width: 100%;
}

.containerFieldset {
  display: flex;
}
.fieldsetLeft, .fieldsetRight {
  width:50%;
}

.formPostCar select {
  background:#fddca77d;
  border: 1px solid #f7b2653b;
  margin-right: 5px;
}
.vendorForm {
  display: flex;
}

.engineForm, .kmForm, .yearForm, .colorForm, .vendorForm, .brandAndModel, .fuelForm {
  margin-bottom: .75em;
  margin-right: 10px;
}

.CVForm {
  display: flex;
  width: 30%;
}

#yearKm {
  margin-right: 5px;
}

.fieldsetPost {
  border: none;
  margin-top: 1em;
}

.ccKmYearColor {
  width: 100%;
  display: flex;
}

#spanPostYearKm, #inputPostYearKm {
  width: 100%;
}
#inputPostCV {
  width: 100%;
  margin-top: 0.5em;
}

#inputPostDoors {
  margin-top: 0.5em;
  width: 100%;
}

#submitPost {
  cursor: pointer;
  background-color: #ff8600;
  color: white;
  font-size: 22px;
  font-weight: 900;
  border-radius: 5px;
  transition-duration: 0.4s;
}
#submitPost:hover {
  background-color: red;
}
.brandAndModel {
  width: 100%;
  display: flex;
}
.brandForm, .ModelForm {
  width: 50%;
}
.brandForm {
  margin-right: 5px;
}
#selectBrand {
  width: 100%;
}
#selectBrand, .inputModel, #inputPostYearKm {
  margin-top: 0.5em;
}

.ModelForm input {
  width: 100%;
}

.textarea-field {
  width: 100%;
  background:#fddca77d;
  border: 1px solid #f7b2653b;
}
.field6 {
  width: 100%;

}

.selectorsVendor {
  display: flex;

}

#priceInput {
  width: 65%;
}

.stateCityForm {
  display: flex;
  margin-bottom: 10px;
}
.stateForm, .cityForm {
  width: 50%;
  margin-right: 5px;
}

.namePhone {
  display: flex;
  margin-bottom: .5em;
}

.nameForm {
  margin-right: 5px;
}

.description {
  white-space: pre-wrap;     
  white-space: -moz-pre-wrap;     
  white-space: -pre-wrap;       
  white-space: -o-pre-wrap;
  word-wrap: break-word;  
}

#textAreaForm {
  margin-top: 0.5em;
}

#selectType, #selectVendor, #priceInput , #selectState, #cityInput , #emailInput, #nameInput, #phoneInput, #titleInput {
  margin-top: 0.5em;
}

#emailInput, #titleInput {
  margin-bottom: .75em;
}

/*END OF IMPORT POST*/



/* MODAL */

/* lightbox sin abrir */
.lightbox {
  display: none;
}

/* lightbox abierto */
.lightbox:target {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Contenido de Lightbox */
.lightbox figcaption {
	width: 25rem;
	height: 25rem;
  position: relative;
  padding: 1.5em;
  background-color: #ffeece;
  border-radius: 5px;
  border: 8px double #f7b265;
}

/* Botón Cerrar */
.lightbox .close {
  position: relative;
  display: block;
}

.lightbox .close::after {
  right: -1rem;
  top: -1rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 50%;
  color: white;
  content: "×";
  cursor: pointer;
}

/* superposición Lightbox */
.lightbox .close::before {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0,.7);
  content: "";
  cursor: default;
}

/* MODAL IMG */

/* lightbox sin abrir */
.lightboxImg {
  display: none;
}

/* lightbox abierto */
.lightboxImg:target {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Contenido de Lightbox */
.lightboxImg figcaption {
	width: 25rem;
	height: 25rem;
  position: relative;
  padding: 1.5em;
  background-color: #ffeece;
}

/* Botón Cerrar */
.lightboxImg .close {
  position: relative;
  display: block;
}

.lightboxImg .close::after {
  right: -1rem;
  top: -1rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 50%;
  color: white;
  content: "×";
  cursor: pointer;
}

/* superposición Lightbox */
.lightboxImg .close::before {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0,.7);
  content: "";
  cursor: default;
}

/* END OF IMG MODAL */

/* INPUT FILE */
article
{
    /* width: 80%; */
    margin: auto;
    /* margin-top: 10px; */
    display: block;
}

#files {
  display: flex;
  margin: 1em 0px;
  border: none;
  background-color: white;
}

#result {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail{

  height: 50px;
  width: 50px;
  margin: 10px;    
}

#imagePostNotSelected {
  background-color: darkorange;
  border-radius: 5px;
  padding: 0.25em;
}

/* END OF INPUT FILE */

/* DROPDOWN CATEGORY */

/* Fixed sidenav, full height */
.sidenav {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: orange;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  /* background-color: green; */
  color: black;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* END DROPDOWN CATEGORY */

ul.acorh,
ul.acorh * {
margin: 0;
padding: 0;
border: 0;
}
ul.acorh {
margin: 10px auto;
padding: 0;
list-style: none;
width: 100%;
font-size: 18px;
}
ul.acorh li {
list-style: none;
}
ul.acorh li a {
display: block;
padding: 10px 10px 10px 20px;
color: black;
text-decoration: none;
box-sizing: border-box;
}
ul.acorh li ul {
max-height: 0;
margin: 0;
padding: 0;
list-style: none;
overflow: hidden;
transition: .000001s;
}
ul.acorh li li a {
padding: 10px 10px 10px 40px;
color: #000;
font-size: 16px;
border: 0;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
}
ul.acorc li li:last-child a {
border-bottom: 0;
}

ul.acorh li a:hover {
color: orange;
}

ul.acorh li:target ul {
  max-height: 300px;
  transition: .00001s;
  }

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25rem;
  height: 25rem;
  position: relative;
  padding: 1.5em;
  background-color: #ffeece;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

}

/* PAGINATION */

.pagination {
  display: flex;
  width: 100%;
  justify-content: center;
}

.pagination li {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #f7b265;
  color: white;
  border-radius: 5px;
}
.pagination a:hover:not(.active) {
  background-color: #fedc9e;
  border-radius: 5px;
}

.paginationUl {
  display: flex;
  list-style: none;
  text-decoration: none;
}

/* END PAGINATION */

/* user account desktop */

.myAds-session {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin: .3em 0;
  background-color: #ff002d17;
}
.passMod {
  display: flex;
  width: 29%;
}
.passMod a {
  display: flex;
  text-decoration: none;
  color: black;
}
.logout {
  display: flex;
  width: 25%;
}
.logout a {
  display: flex;
  text-decoration: none;
  color: black;
}
.divImgMyadsPass {
  width: 20%;
  margin: auto;
}
.divImgMyadsPass img {
  width: 100%;
}

/* SUCCESS POST */
.textSuccess {
  padding: 0 .3em;
}
.imageSuccess {
  width: 50%;
  margin: auto;
}
.imageSuccess img {
  width: 100%;
}

/* recovery password */
.successRecovery {
  display: flex;
  align-items: center;
  font-size: 25px;
}
.imgSuccessRecovery {
  width: 25%;
}
.imgSuccessRecovery img {
  width: 100%;
}
.spanSuccessRecovery {
  width: 100%;
}
.spanSuccessRecovery span {
  font-weight: 22px;
  font-weight: 900;
}

 /* admin */
 .adminFirstRow {
   margin: 1em 0;
 }
 .adminFirstRow a {
   color:black;
   font-weight: 900;
 }

/* end user account desktop */

 /* collapsible */

.accordion:hover .accordion-item:hover .accordion-item-content,
.accordion .accordion-item--default .accordion-item-content {
    height: 100%;
}

.accordion-item-content,
.accordion:hover .accordion-item-content {
    height: 0;
    overflow: hidden;
}
.accordion-item-content a {
  text-decoration: none;
  color: white;
}
.accordion-item-content a li {
  list-style-type: none;
  color: black;
  margin-top: 0.4em;
}

/* Aesthetic */

.accordion {
    padding: 0;
    margin: 0 auto;
}

.accordion .accordion-item {
  /* background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee); */
  padding: .3em;
  color: black;
  background-color: #ffa50059;
}

.accordion h1 {
  margin: .3em;
  font-size: 13px;
  width: 100%;
}

.accordion .accordion-item:nth-child(1) {
  /* background-color: hsl(200, 80%, 60%);
  background-image: linear-gradient(-90deg, hsl(200, 80%, 60%), hsl(200, 80%, 45%) 2em, hsl(200, 80%, 60%)); */

}

.accordion .accordion-item:nth-child(2) {
  border-top: 1px solid grey;
  /* background-color: hsl(280, 60%, 45%);
  background-image: linear-gradient(-90deg, hsl(280, 80%, 60%), hsl(280, 60%, 45%) 2em, hsl(280, 80%, 60%)); */
}

.accordion .accordion-item:nth-child(3) {
  border-top: 1px solid grey;
  /* background-color: hsl(40, 80%, 40%);
  background-image: linear-gradient(-90deg, hsl(40, 80%, 60%), hsl(40, 80%, 45%) 2em, hsl(40, 80%, 60%)); */
}

.accordion .accordion-item:nth-child(4) {
  border-top: 1px solid grey;
  /* background-color: hsl(80, 40%, 40%);
  background-image: linear-gradient(-90deg, hsl(80, 80%, 40%), hsl(80, 80%, 35%) 2em, hsl(80, 80%, 40%)); */
}
/* end collapsible */

.overAge h1 {
  font-size: 16px;
  text-align: center;
}
.buttonOverAge {
  text-align: center;
}
.buttonOverAge button {
  font-weight: bold;
  background-color: green;
  color: white;
}

/* MOBILE */

@media (max-width: 768px) {

  html, body {width: auto!important; overflow-x: hidden!important} 
  
  body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #ffa50061;
  }
  .errorPosting {
    color: white;
    font-size: 12px;
    background-color: red;
    display: block;
  }
  
  /*HOME*/
  .homeHeader img {
    width: 100%;
  }
  .homeCategory {
    background-color: white;
  }
  .homeCategory ul {
    list-style-type: none;
  }
  .homeCategory ul li {
    background-color: #f7b265;
    padding: .5em;
    border-radius: 10px;
  }
  .homeCategory img {
    width: 10%;
    height: 10%;
    margin: .5em;
  }
  .homeCategory a{
    text-decoration: none;
    color: black;
    display: flex;
    margin: 1em;
  }
  .homeMenu {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    margin: 1em 0;
  }
  .homeMenu div {
    width: 33%;
    display: flex;
  }
  .homeMenu div img {
    width: 25%;
  }
  .homeMenu a {
    text-decoration: none;
    color: black;
    align-items: center;
    display: flex;
  }
/**************************/
  .mainMenu {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    margin: 1em 0;
    background-color: #ff000014;
  }
  .mainMenu div {
    width: 33%;
    display: flex;
  }
  .mainMenu div img {
    width: 25%;
  }
  .mainMenu a {
    text-decoration: none;
    color: black;
    align-items: center;
    display: flex;
  }

/*///////////////////////*/
  .homeMyads {
    justify-content: center;
  }


  /*END OF HOME*/
  
  .mainContainer {
    justify-content: center;
    width: 100%;
  }
  
  .container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    background-color: white;
  }
  .centerContainer {
    width:100%;
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .lateralContainer {
    width: 100%;
    display: block;
    display: none;
  }
  .logoHeader img  {
    width: 100%;
  }
  .description_page {
    display: none;
  }
  
  .firstRow {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:flex-start;
    background-color: #ffa50052;
    margin: 0.5em 0em;
    font-size: 13px;
  }
  .paginationUl {
    width: 100%;
    display: flex;
    padding: 0;
  }
  .paginationUl li {
    padding: 0;
  }
  .paginationUl a {
    width: 100%;
    padding: .4em;
  }

  .ofertaDemanda {
    width: 20%;
    text-align: left;
  }
  .reference {
    width: 10%;
    text-align: center;
  }
  .time {
    width: 15%;
    text-align: right;
  }
  
  .adsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .ads {
    width: 100%;
    padding: 1em 0;
    margin: .25em 0;
    background: linear-gradient(180deg, rgba(255, 215, 106, 0.4) 0%, rgba(255,255,255,1) 100%);
  }
  .adBody {
    display: flex;  
    padding: .2em;
  }
  .adTexts {
    width: 100%;
  }
  .adImage {
    width: 160px;
    max-height: 180px;
  }
  .imgAd {
    width: 100%;
    max-height: 100%;
  }
  .adPhotoAndPictures {
    width: 100%;
  }
  .editImg {
    width: 100%;
  }
  .adImgEdit {
    width: 100%;
    margin-bottom: 1em;
  }
  
  .imgContai.categorySearchner {
    display: flex;
  }
  
  .adImgDelete {
    height: fit-content;
  }
  
  .imgImg {
    width: 75%;
  }
  .imgButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1em;
  }
  .pagination {
    width: 100%;
  }
  /*Search Box */
  
  .searchBox {
    width: 100%;
    margin: 1em auto;
  }
  .searchBox input {
    background-color: #ffedd0;
  }
  .searchBox select {
    font-size: 12px;
    font-weight: 400;
    color:black;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    box-sizing: border-box;
    border: 1px solid #f7b265;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fedc9e7d;
    background-image: url('/images/arrowDown.png');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
  }

  .modelSearchInput {
    width: 50%;
  }
  
  .firstRowSearch {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .firstRowSearch select {
    font-size: 12px;
  }
  .firstRowSearchAttr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .firstLineAttr {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .firstLineAttr label {
    margin: .5em auto;
  }
  .firstLineAttr div {
    margin: .5em auto;
  }
  #brandSearchDiv {
    width: 40%;
  }
  #searchBrand {
    width: 100%;
  }
  .secondtLineAttr {
    display: flex;
    justify-content: flex-end;
  }
  
  .secondRowSearch {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 5%;
  }
  .divButtonSubmitList {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .divButtonSubmitList span {
    margin-right: 5%;
  }
  #attrAdjobs {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  .searchWordJobs {
    margin-top: 1em;
  }

  .submitSearch {
    width: 25%;
  }
  
  .categorySearch , .subCategorySearch {
    margin-bottom: .75em;
  }
  .categorySearch {
    width: 32%;
  }
  .subCategorySearch {
    width: 38%;
  }
  .stateSearch {
    width: 30%;
  }
  .kmSearch {
    width: 100%;
    text-align: end;
  }
  .divToFirstAttr {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .divToFirstAttr div {
    margin: .5em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .divPirceMisc {
    display: flex;
    flex-wrap: wrap;
  }
  .divPirceMisc input {
    width: 25%;
  }
  .searchWordMis {
    text-align: end;
  }
  #attrContact {
    flex-direction: column-reverse;
  }
  #attrMisc {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .divAgeContact, .searchWordContact {
    width: 100%;
    text-align: end;
    margin-right: 8%;
  }
  #searchButtonList {
    background-color: #ff8600;
    color: white;
    font-size: 16px;
    font-weight: 900;
    border-radius: 5px;
  }
  #searchButtonList img {
    width: 21%;
  }

  /* end search box */
  
  /* -----------------------------------------------------------------------*/
  
  /*IMPORT POST HTML*/
  .form-style-3{
    max-width: 450px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  .form-style-3 label{
    display:flex;
    margin-bottom: 10px;
  }
  .form-style-3 label > span{
    float: left;
    width: 87px;
    color: black;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 1px 1px 1px #fff;
  }
  .form-style-3 fieldset{
    margin: 0px 0px 10px 0px;
    border: none;
    padding: 20px;
    background: #fedc9e;
    margin: 1em;
    border-radius: 0px;
    /* box-shadow: inset 0px 0px 15px #FFE5E5;
    -moz-box-shadow: inset 0px 0px 15px #FFE5E5;
    -webkit-box-shadow: inset 0px 0px 15px #FFE5E5; */
  }
  .form-style-3 fieldset legend{
    color: #ffffff;
    border-top: 1px solid #f6a41e;
    border-left: 1px solid #f6a41e;
    border-right: 1px solid #f6a41e;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    background: #ffa500;
    padding: 0px 8px 3px 8px;
    box-shadow: -0px -1px 2px #F1F1F1;
    -moz-box-shadow:-0px -1px 2px #F1F1F1;
    -webkit-box-shadow:-0px -1px 2px #F1F1F1;
    font-weight: normal;
    font-size: 12px;
  }
  .form-style-3 textarea{
    width:250px;
    height:100px;
  }
  .form-style-3 input[type=text],
  .form-style-3 input[type=password],
  .form-style-3 input[type=date],
  .form-style-3 input[type=datetime],
  .form-style-3 input[type=number],
  .form-style-3 input[type=search],
  .form-style-3 input[type=time],
  .form-style-3 input[type=url],
  .form-style-3 input[type=email],
  .form-style-3 select, 
  .form-style-3 textarea{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #d4d4d4;
    outline: none;
    color: black;
    padding: 5px 8px 5px 8px;
    box-shadow: inset 1px 1px 4px #FFD5E7;
    -moz-box-shadow: inset 1px 1px 4px #FFD5E7;
    -webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
    background: white;
    width:50%;
  }
  .form-style-3  input[type=submit],
  .form-style-3  input[type=button]{
    background: orange;
    border: 1px solid white;
    padding: 5px 15px 5px 15px;
    color:white;
    box-shadow: inset -1px -1px 3px #FF62A7;
    -moz-box-shadow: inset -1px -1px 3px #FF62A7;
    -webkit-box-shadow: inset -1px -1px 3px #FF62A7;
    border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;	
    font-weight: bold;
  }
  .required{
    color:red;
    font-weight:normal;
  }
  .formSendEmailList label {
    display: block;
    width: 100%;
    margin: .5em 0;
  }
  .textAreaSendEmail {
    width: 100%;
  }
  
  .finalSubmitPost {
    margin-top: 1em;
  }
  
  /*END OF IMPORT POST*/

  /* MODAL */
  
  /* lightbox sin abrir */
  .lightbox {
    display: none;
  }
  
  /* lightbox abierto */
  .lightbox:target {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Contenido de Lightbox */

  .dataUserPopUp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }
  .dataUserPopUp img {
    width: 10%;
    margin-right: .5em;
  }

  .lightbox figcaption {
    /* width: 25rem; */
    height: 27rem;
    position: relative;
    padding: 1.5em;
    background-color: #ffeece;
  }
  
  /* Botón Cerrar */
  .lightbox .close {
    position: relative;
    display: block;
  }
  
  .lightbox .close::after {
    right: 1rem;
    /* top: 2rem; */
    width: 2rem;
    height: 2rem;
    position: fixed;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 50%;
    color: white;
    content: "×";
    cursor: pointer;
  }
  
  /* superposición Lightbox */
  .lightbox .close::before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,.7);
    content: "";
    cursor: default;
  }
  
  /* MODAL IMG */
  
  /* lightbox sin abrir */
  .lightboxImg {
    display: none;
  }
  
  /* lightbox abierto */
  .lightboxImg:target {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Contenido de Lightbox */
  .lightboxImg figcaption {
    /* width: 25rem; */
    /* height: 25rem; */
    position: relative;
    padding: 1.5em;
    background-color: #ffeece;
  }
  .lightbox figure {
    width: 100%;
    margin: 5%;
  }
  .lightboxImg figure {
    width: 100%;
    margin: 5%;
  }
  
  /* Botón Cerrar */
  .lightboxImg .close {
    position: relative;
    display: block;
  }
  
  .lightboxImg .close::after {
    right: -1rem;
    top: -1rem;
    width: 2rem;
    height: 2rem;
    position: absolute;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 50%;
    color: white;
    content: "×";
    cursor: pointer;
  }
  
  /* superposición Lightbox */
  .lightboxImg .close::before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,.7);
    content: "";
    cursor: default;
  }
  
  /* END OF IMG MODAL */
  
  /* INPUT FILE */
  article
  {
      /* width: 80%; */
      margin: auto;
      /* margin-top: 10px; */
      display: block;
  }
  
  #files {
    display: flex;
  }
  
  #result {
    display: flex;
    flex-wrap: wrap;
  }
  
  .thumbnail{
  
    height: 50px;
    width: 50px;
    margin: 10px;    
  }
  
  #imagePostNotSelected {
    background-color: darkorange;
    border-radius: 5px;
    padding: 0.25em;
  }
  
  /* END OF INPUT FILE */
  
  /* DROPDOWN CATEGORY */
  
  /* Fixed sidenav, full height */
  .sidenav {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: orange;
  }
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    /* background-color: green; */
    color: black;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  
  /* END DROPDOWN CATEGORY */
  
  ul.acorh,
  ul.acorh * {
  margin: 0;
  padding: 0;
  border: 0;
  }
  ul.acorh {
  margin: 10px auto;
  padding: 0;
  list-style: none;
  width: 100%;
  font-size: 18px;
  }
  ul.acorh li {
  list-style: none;
  }
  ul.acorh li a {
  display: block;
  padding: 10px 10px 10px 20px;
  color: black;
  text-decoration: none;
  box-sizing: border-box;
  }
  ul.acorh li ul {
  max-height: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  transition: .000001s;
  }
  ul.acorh li li a {
  padding: 10px 10px 10px 40px;
  color: #000;
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  }
  ul.acorc li li:last-child a {
  border-bottom: 0;
  }
  
  ul.acorh li a:hover {
  color: orange;
  }
  
  ul.acorh li:target ul {
    max-height: 300px;
    transition: .00001s;
    }
  
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    position: relative;
    padding: 1.5em;
    background-color: #ffeece;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .description {
    white-space: pre-wrap;     
    white-space: -moz-pre-wrap;    
    white-space: -pre-wrap;      
    white-space: -o-pre-wrap;
    word-wrap: break-word;  
  }
  /* attributes motor */
  /* .atrEngine, .atrYear, .atrKm, .atrKm, .atrFuel, .atrPrice, .atrDoors {
    min-width: 10%;
    max-width: 30%;
    width: auto;
  } */
  .atrAds {
    padding: .1em 0;
    /* width: 100%; */
    text-align: center;
    border-radius: 5px;
    margin-right: auto;
    display: flex;
  }
  .atrAds span{
    width: 100%;
  }
  .attributesRow {
    display: flex;
    width: 100%;
    margin: 1em 0;
    /* justify-content: space-around; */
    flex-wrap: wrap;
  }
  .atrEngine {
    width: 15%;
    background-color: #eaff0080;
  }
  
  .atrYear {
    width: 20%;
    background-color: #f7b265;
  }
  .atrKm {
    background-color: #daf1ff;
  }
  
  .atrFuel {
    background-color: #75ff7599;
    display: flex;
    align-items: center;
  }
  
  .atrPrice {
    width: 30%;
    background-color: #ff0000c9;
  }
  
  .atrDoors {
    background-color: #ff00c154;
  }
  /* end attributes motor */
  .phoneAd a {
    text-decoration: none;
  }
  .imgSpanContact {
    display: flex;
    width: 35%;
  }
  .imgContact {
    width: 100%;
  }
  .imgContact img {
    width: 100%;
  }
  .spanContactList {
    display: flex;
    justify-content: flex-end;
    text-align: initial;
    align-items: baseline;
    font-size: 20px;
    color: black;
    margin-left: 2%;
    font-weight: 900;
  }
  /* POST ADS */
  .fieldsetPost {
    border: none;
    min-width: 0;
  }
    .textAreaForm {
      width: 100%;
      background-color: #ffedd0;
    }
    #textAreaForm {
      width: 100%;
      background-color: #ffedd0;
    }
    .upFormPost input {
      background-color: #ffedd0;
    }
    .upFormPost select {
    font-weight: 400;
    color: black;
    line-height: 1.2;
    padding: .1em 1.4em .3em .8em;
    box-sizing: border-box;
    border: 1px solid #f7b265;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fedc9e7d;
    background-image: url(/images/arrowDown.png);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    }
    .brandAndModel {
      display: flex;
    }
    .brandAndModel div {
      margin: .5em .5em .5em 0;
    }
    .ccKmYearColor {
      display: flex;
    }
    .ccKmYearColor div {
      margin: .5em .5em .5em 0;
    }
    .ccKmYearColor input {
      width: 100%;
    }
    .CVForm {
      width: 15%;
    }
    .stateCityForm {
      display: flex;
      flex-wrap: wrap;
    }
    .stateCityForm div {
      width: 45%;
      margin: .5em .5em .5em 0;
    }
    .selectorsVendor {
      display: flex;
    }
    .vendorForm {
      display: flex;
      flex-direction: row-reverse;
    }
    .vendorForm {
      margin: .5em .5em .5em 0;
    }
    .firsVendor {
      width: 100%;
    }
    #priceInput {
      width: 60%;
    }
    .namePhone {
      display: flex;
      flex-wrap: wrap;
    }
    .namePhone div {
      width: 45%;
      margin: .5em .5em .5em 0;
    }
    #files {
     margin-top: 1em; 
     background-color: #ffedd0;
    }
    #submitPost {
    background-color: #ff8600;
    color: white;
    font-size: 22px;
    font-weight: 900;
    border-radius: 5px;
    margin: 1em 0;
    width: 100%;
    }
    #titleInput {
      width: 100%;
    }
    #emailInput {
      width: 100%;
    }
    #inputPostage {
      width: 20%;
      margin: .5em .5em .5em 0;
    }
  /* my ads */
  .passMod {
    display: flex;
    width: 45%;
  }
  .passMod a {
    display: flex;
    text-decoration: none;
    color: black;
  }
  .myAds-session {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    background-color: white;
  }
  .logout {
    display: flex;
    width: 40%;
  }
  .logout a {
    display: flex;
    text-decoration: none;
    color: black;
  }
  .divImgMyadsPass {
    width: 20%;
    margin: auto;
  }
  .divImgMyadsPass img {
    width: 100%;
  }
  .nameForm, .phoneForm {
    width: 50%;
  }
  .descriptionFrom {
    margin-top: .5em;
  }
  /* SUCCESS POST */
  .textSuccess {
    padding: 0 .3em;
  }
  .imageSuccess {
    width: 50%;
    margin: auto;
  }
  .imageSuccess img {
    width: 100%;
  }
  .successRecovery {
    font-size: 13px;
  }
  .imgSuccessRecovery {
    width: 10%;
  }
}

@media (max-width: 360px) {
  .searchBox select {
    padding: .4em .1em .3em .8em;
    background-image: none;
  }
  .firstRow {
    font-size: 11px;
  }
  .imgSpanContact {
    width: 37%;
  }
  .spanContactList {
    font-size: 16px;
  }
  .imgContact {
    width: 15%;
  }
}

/* END MOBILE */