## BEGIN guebs HTTPS redirection ##
RewriteEngine On
RewriteCond %{SERVER_PORT} !443
RewriteCond %{HTTP_USER_AGENT} !MSIE\ [5-8]
RewriteCond %{HTTP_USER_AGENT} !Android.*(Mobile)?\ [0-2]
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
## END guebs HTTPS redirection ##
