<div class="overAge">
  <h1>¡Atención! categoría de contenido <b>exclusivo</b> para adultos</h1>
  <br>
    <div class="buttonOverAge">
      <button onclick="contactCookie()">SOY MAYOR DE 18 AÑOS</button>
    </div>
    <p>La categoría de contactos dirige sus servicios a usuarios mayores de 18 años.</p>
    <p>Los menores de esta edad no están autorizados a utilizar o visualizar esta categoría y no deberán, por tanto, enviar sus datos personales.</p> 
    <p>Informamos de que si se da tal circunstancia, buennpm run devanuncio.com no se hace responsable de las posibles consecuencias que pudieran derivarse del incumplimiento del aviso que en esta misma cláusula se establece.</p>
</div>