<div class="form-style-3">
  <form action="/alta" method="POST">
    <fieldset><legend>Crea tu contraseña</legend>
      <label for="field2"><span>Email</span><input type="email" class="input-field" name="email" value="{{email}}"/></label>
      <label for="field3"><span>Elige Contraseña </span><input type="password" class="input-field" name="password"/></label>
      <input type="hidden" name="ad" value="{{id}}">
      <input type="hidden" name="cat" value="{{category}}">
       <label><span> </span><input type="submit" value="Finalizar" /></label>
    </fieldset>
  </form>
  <div>
    {{#if errorMessage}}
      {{errorMessage}}
    {{/if}}
  </div>
</div>