<div class="form-style-3">
  {{#unless successMessage}}
  <form action="/usuario/recuperar-clave" method="POST">
    <fieldset><legend>Recupera tu contraseña</legend>
    <p>Por favor, introduce tu email</p>
    <p>Te enviaremos un correo electrónico para recuperar tu clave</p>
      <label for="field2"><span>Email</span><input type="email" class="input-field" name="email" value="{{user}}"/></label>
       <label><span> </span><input type="submit" value="Enviar" /></label>
    </fieldset>
  </form>
  <div>
    {{#if errorMessage}}
      <span class="errorPosting">{{errorMessage}}</span>
    {{/if}}
  </div>
  {{/unless}}
  {{#if successMessage}}
    <div class="successRecovery"> 
      <div class="imgSuccessRecovery">
        <img src="/images/recovery-pass.svg">
      </div>
      <div class="spanSuccessRecovery">
        <span>Te hemos enviado un email para reestablecer tu clave</span>
      </div>
    </div>
  {{/if}}
</div>

<!-- DOM improve message after sending -->