<div class="mainContainer">
  <div class="container">
    <div class="header">
      <!--headerSeoLogo-->
    </div>
    <div class="centerContainer">
      <div class="form-style-3">
        <form action="/usuario/alta" method="POST">
          <fieldset><legend>Crea tu contraseña</legend>
            <label for="field2"><span>Email</span><input type="email" class="input-field" name="email"/></label>
            <label for="field3"><span>Contraseña </span><input type="password" class="input-field" name="password"/></label>
        </form>
  </div>
    </div>
    <div class="lateralContainer">
      <div class="mainMenu">
        <div class="home"><a href="/">Home</a></div>
        <div class="postAd"><a href="/publicar-anuncio">Publicar</a></div>
      </div>
      <div class="categoryMenu"></div>
    </div>
  </div>
</div>