<div class="form-style-3">
  <form action="/usuario/alta" method="POST">
    <fieldset><legend>Crea tu contraseña</legend>
      <label for="field2"><span>Email</span><input type="email" class="input-field" name="email"/></label>
      <label for="field3"><span>Contraseña </span><input type="password" class="input-field" name="password"/></label>
    </fieldset>
  </form>
</div>
