<table id="cookieCuadro" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td bgcolor="#d9d9d9" style="background: #d9d9d9;" width="10.19036954087346%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em><strong>Tipolog&iacute;a de cookie</strong></em></p>
            </td>
            <td bgcolor="#d9d9d9" style="background: #d9d9d9;" width="19.372900335946248%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em><strong>Descripci&oacute;n</strong></em></p>
            </td>
            <td bgcolor="#d9d9d9" style="background: #d9d9d9;" width="9.966405375139978%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em><strong>Denominaci&oacute;n cookie</strong></em></p>
            </td>
            <td bgcolor="#d9d9d9" style="background: #d9d9d9;" width="10.19036954087346%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em><strong>Nombre de dominio del servidor desde el que se env&iacute;a la cookie</strong></em></p>
            </td>
            <td bgcolor="#d9d9d9" style="background: #d9d9d9;" width="12.206047032474803%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em><strong>Finalidad</strong></em></p>
            </td>
            <td bgcolor="#d9d9d9" style="background: #d9d9d9;" width="8.062709966405375%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em><strong>Temporalidad</strong></em></p>
            </td>
            <td bgcolor="#d9d9d9" style="background: #d9d9d9;" width="8.958566629339305%">
                <p style="line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;margin-bottom: 0in;"><em><strong>Titularidad propia o de terceros</strong></em></p>
                <p style="margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;"><br></p>
            </td>
            <td bgcolor="#d9d9d9" style="background: #d9d9d9;" width="13.213885778275476%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em><strong>Obtenci&oacute;n informaci&oacute;n adicional sobre uso de cookies por los terceros (Pol&iacute;ticas de privacidad y Pol&iacute;ticas de cookies de terceros)</strong></em></p>
            </td>
            <td bgcolor="#d9d9d9" style="background: #d9d9d9;" width="7.838745800671893%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em><strong>Estrictamente necesaria&nbsp;</strong></em></p>
            </td>
        </tr>
        <tr>
            <td rowspan="3" style="border: 1px solid #000000;" width="10.19036954087346%">
                <p style="line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;margin-bottom: 0in;"><em><strong>Cookies t&eacute;cnicas</strong></em></p>
                <p style="margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;"><br></p>
            </td>
            <td rowspan="3" style="border: 1px solid #000000;" width="19.372900335946248%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Son aquellas que permiten al usuario la navegaci&oacute;n a trav&eacute;s de la p&aacute;gina web, plataforma o aplicaci&oacute;n y la utilizaci&oacute;n de las diferentes opciones y servicios, permiten controlar el tr&aacute;fico y la comunicaci&oacute;n de datos, identificar la sesi&oacute;n, acceder a zonas de acceso restringido, recordar los elementos que integran un pedido, realizar el proceso de compra, realizar la inscripci&oacute;n o participaci&oacute;n en un evento, utilizar elementos de seguridad durante la navegaci&oacute;n, almacenar contenidos para la difusi&oacute;n de v&iacute;deos o sonido o compartir contenidos a trav&eacute;s de redes sociales.</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="9.966405375139978%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;font-style: normal;font-weight: normal;'><em><strong>connect.sid</strong></em></p>
            </td>
            <td style="border: 1px solid #000000;" width="10.19036954087346%">
                <p style="line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;margin-bottom: 0in;"><em>www.</em><em>buenanuncio</em><em>.com</em></p>
                <p style="margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;"><br></p>
            </td>
            <td style="border: 1px solid #000000;" width="12.206047032474803%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Identificar la sesi&oacute;n</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="8.062709966405375%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Al finalizar la navegaci&oacute;n</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="8.958566629339305%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Propia</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="13.213885778275476%">
                <p style="line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;margin-bottom: 0in;"><em>Cookie propia&nbsp;</em></p>
                <p style='margin-bottom: 0in;line-height: 115%;text-align: left;font-family: "Calibri", serif;font-size:12px;'><br></p>
                <p style='margin-bottom: 0in;line-height: 115%;text-align: left;font-family: "Calibri", serif;font-size:12px;'><br></p>
                <p style='margin-bottom: 0in;line-height: 115%;text-align: left;font-family: "Calibri", serif;font-size:12px;'><br></p>
                <p style='margin-bottom: 0in;line-height: 115%;text-align: left;font-family: "Calibri", serif;font-size:12px;'><br></p>
                <p style='margin-bottom: 0in;line-height: 115%;text-align: left;font-family: "Calibri", serif;font-size:12px;'><br></p>
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: left;font-family: "Calibri", serif;font-size:12px;'><br></p>
            </td>
            <td style="border: 1px solid #000000;" width="7.838745800671893%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>S&Iacute;</em></p>
            </td>
        </tr>
        <tr>
            <td style="border: 1px solid #000000;" width="14.149443561208267%">
                <p style='margin-bottom: 0in;line-height: 115%;text-align: left;font-family: "Calibri", serif;font-size:12px;'><span style="background: #ffffff;">favorites</span></p>
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: left;font-family: "Calibri", serif;font-size:12px;'><br></p>
            </td>
            <td style="border: 1px solid #000000;" width="14.467408585055644%">
                <p style="line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;margin-bottom: 0in;"><em>www.</em><em>buenanuncio</em><em>.com</em></p>
                <p style="margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;"><br></p>
            </td>
            <td style="border: 1px solid #000000;" width="17.329093799682035%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Recordar elementos de selecci&oacute;n realizada por el usuario</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="11.446740858505564%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>30 d&iacute;as</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="12.718600953895072%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Propia</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="18.75993640699523%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Cookie propia</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="11.128775834658187%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>S&Iacute;</em></p>
            </td>
        </tr>
        <tr>
            <td style="border: 1px solid #000000;" width="14.149443561208267%">
                <p style='margin-bottom: 0in;line-height: 115%;text-align: left;font-family: "Calibri", serif;font-size:12px;font-style: normal;font-weight: normal;'><span style="background: #ffffff;">postCookie</span></p>
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: left;font-family: "Calibri", serif;font-size:12px;'><br></p>
            </td>
            <td style="border: 1px solid #000000;" width="14.467408585055644%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>www.buenanuncio.com</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="17.329093799682035%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Recordar los datos introducidos para acceder al &aacute;rea restringida de usuario</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="11.446740858505564%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>365</em><em>&nbsp;d&iacute;as</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="12.718600953895072%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Propia</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="18.75993640699523%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Cookie propia</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="11.128775834658187%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>si</em></p>
            </td>
        </tr>
        <tr>
            <td rowspan="3" style="border: 1px solid #000000;" width="10.19036954087346%">
                <p style="line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;margin-bottom: 0in;"><em><strong>Cookies de an&aacute;lisis&nbsp;</strong></em></p>
                <p style="line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;margin-bottom: 0in;"><br></p>
                <p style="margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;"><br></p>
            </td>
            <td rowspan="3" style="border: 1px solid #000000;" width="19.372900335946248%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Son aquellas que, bien tratadas por nuestra parte o por terceros, permiten cuantificar el n&uacute;mero de visitantes y analizar estad&iacute;sticamente la actividad de los usuarios de nuestra p&aacute;gina web. Gracias a ello podemos estudiar la actividad de los usuarios para elaborar perfiles de navegaci&oacute;n de los usuarios, y as&iacute; mejorar la oferta de los productos o servicios que ofrecemos.</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="9.966405375139978%">
                <p style='margin-bottom: 0in;line-height: 115%;text-align: left;font-family: "Calibri", serif;font-size:12px;'><span style="background: #ffffff;">_ga</span></p>
                <p style="margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;"><br></p>
            </td>
            <td style="border: 1px solid #000000;" width="10.19036954087346%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><u><a href="http://www.google.com/"><em>www.google.com</em></a></u></p>
            </td>
            <td style="border: 1px solid #000000;" width="12.206047032474803%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Google Analytics env&iacute;a a Google INC identificador &uacute;nico e informaci&oacute;n an&oacute;nima sobre el uso de la p&aacute;gina web, con objeto de dar informaci&oacute;n sobre la actuaci&oacute;n de los usuarios en la web, fecha, hora y n&uacute;mero de visitas y ubicaci&oacute;n geogr&aacute;fica, con finalidad estad&iacute;stica.</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="8.062709966405375%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Cookie persistente. Hasta 2 a&ntilde;os</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="8.958566629339305%">
                <p style="line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;margin-bottom: 0in;"><em>De terceros</em></p>
                <p style="line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;margin-bottom: 0in;"><em>Google Analytics de Google INC, sociedad de Delaware (Estados Unidos) con oficina principal en California &ndash; Estados Unidos&nbsp;</em></p>
                <p style="margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;"><br></p>
            </td>
            <td style="border: 1px solid #000000;" width="13.213885778275476%">
                <p style="line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;margin-bottom: 0in;"><em>M&aacute;s informaci&oacute;n:&nbsp;</em><u><a href="https://www.google.es/intl/es/policies/technologies/cookies/"><em>https://www.google.es/intl/es/policies/technologies/cookies/</em></a></u></p>
                <p style="margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;"><br></p>
            </td>
            <td style="border: 1px solid #000000;" width="7.838745800671893%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>NO</em></p>
            </td>
        </tr>
        <tr>
            <td style="border: 1px solid #000000;" width="14.149443561208267%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: left;font-family: "Calibri", serif;font-size:12px;'><span style="background: #ffffff;">_gat</span></p>
            </td>
            <td style="border: 1px solid #000000;" width="14.467408585055644%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>www.google.com</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="17.329093799682035%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Google Analytics env&iacute;a a Google INC identificador &uacute;nico e informaci&oacute;n an&oacute;nima sobre el uso de la p&aacute;gina web, con objeto de dar informaci&oacute;n sobre la actuaci&oacute;n de los usuarios en la web, fecha, hora y n&uacute;mero de visitas y ubicaci&oacute;n geogr&aacute;fica, con finalidad estad&iacute;stica.</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="11.446740858505564%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Cookie persistente. Hasta 2 a&ntilde;os</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="12.718600953895072%">
                <p style="line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;margin-bottom: 0in;"><em>De terceros</em></p>
                <p style="line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;margin-bottom: 0in;"><em>Google Analytics de Google INC, sociedad de Delaware (Estados Unidos) con oficina principal en California &ndash; Estados Unidos&nbsp;</em></p>
                <p style="margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;"><br></p>
            </td>
            <td style="border: 1px solid #000000;" width="18.75993640699523%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><br></p>
            </td>
            <td style="border: 1px solid #000000;" width="11.128775834658187%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>NO</em></p>
            </td>
        </tr>
        <tr>
            <td style="border: 1px solid #000000;" width="14.149443561208267%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: left;font-family: "Calibri", serif;font-size:12px;'><span style="background: #ffffff;">_gid</span></p>
            </td>
            <td style="border: 1px solid #000000;" width="14.467408585055644%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>www.google.com</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="17.329093799682035%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Google Analytics env&iacute;a a Google INC identificador &uacute;nico e informaci&oacute;n an&oacute;nima sobre el uso de la p&aacute;gina web, con objeto de dar informaci&oacute;n sobre la actuaci&oacute;n de los usuarios en la web, fecha, hora y n&uacute;mero de visitas y ubicaci&oacute;n geogr&aacute;fica, con finalidad estad&iacute;stica.</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="11.446740858505564%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Cookie persistente. Hasta 2 a&ntilde;os</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="12.718600953895072%">
                <p style="line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;margin-bottom: 0in;"><em>De terceros</em></p>
                <p style="line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;margin-bottom: 0in;"><em>Google Analytics de Google INC, sociedad de Delaware (Estados Unidos) con oficina principal en California &ndash; Estados Unidos&nbsp;</em></p>
                <p style="margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;"><br></p>
            </td>
            <td style="border: 1px solid #000000;" width="18.75993640699523%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><br></p>
            </td>
            <td style="border: 1px solid #000000;" width="11.128775834658187%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>NO</em></p>
            </td>
        </tr>
    </tbody>
</table>