<div><h1 id="política-de-cookies">Política de Cookies</h1>
<h2 id="¿qué-es-una-cookie-¿y-para-qué-usamos-estas-tecnologías">¿Qué es una cookie? ¿Y para qué usamos estas tecnologías?</h2>
<p>Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo (PC, teléfono móvil o tablet) que nos permiten reconocer tu navegador web. Las cookies contienen información principalmente sobre tu navegador web y sobre cualquier actividad que se ha producido en él.</p>
<p>También podemos utilizar tecnologías similares que reconocen las cookies y los identificadores y permiten a terceros establecer cookies en tu dispositivo. Los web beacons pueden ser utilizados para determinar qué anuncios deben mostrarse en tu navegador web.</p>
<p>En esta política usamos el término "cookie" para referirnos colectivamente a cookies, web beacons, píxel, tags y a otras tecnologías similares.</p>
<h2 id="¿qué-tipo-de-cookies-utilizamos">¿Qué tipo de cookies utilizamos?</h2>
<ol>
<li>Cookies estrictamente necesarias: son aquellas cookies necesarias para prestar el servicio solicitado, así como para recordar las preferencias de configuración.</li>
<li>Cookies analíticas y de preferencias: son aquellas cookies a través de las que obtenemos estadísticas y análisis sobre el uso que hacen los usuarios de nuestros servicios. Esto nos permite tener una visión general de cuántos usuarios únicos tenemos y cómo utilizan nuestros servicios. Puedes desactivar estas cookies mediante los mecanismos que te mostramos a continuación pero ten en cuenta que, por ejemplo, no podremos recordar tus preferencias y patrones de navegación, puede que tengas que iniciar sesión cada vez que nos visites, etc.</li>
<li>Cookies publicitarias: son aquellas cookies que nos permiten mostrarte publicidad. Puedes saber más sobre este tipo de publicidad aquí: <a href="http://www.youronlinechoices.com/es/videos-utiles/">http://www.youronlinechoices.com/es/videos-utiles/</a>.</li>
</ol>
<h2 id="utilizamos-cookies-publicitarias-para-distintas-finalidades">Utilizamos cookies publicitarias para distintas finalidades:</h2>
<ol>
<li>Cookies usadas con finalidades de marketing: nos permiten monitorizar las actividades en nuestras páginas para entender cómo se utilizan y nos permiten optimizar nuestras campañas de adquisición de tráfico desde redes exteriores. También utilizamos servicios&nbsp;para monitorizar la actividad de un usuario en nuestra web y poder llegar a ofrecer publicidad en relación con sus búsquedas en otras webs, así como servicios para la descarga de aplicaciones y para la promoción de la marca. Finalmente, utilizamos servicios de push notificación para darte a conocer en nuestras aplicaciones las novedades en nuestros servicios.</li>
<li>Cookies para mostrar publicidad personalizada</li>
</ol>
<p>La publicidad es parte de nuestro negocio y siempre estará ahí. Usamos tus datos para mostrarte publicidad que sea de tu interés y se ajuste a lo que buscas. Si no quieres ver publicidad adaptada a tus preferencias a continuación te explicamos cómo puedes desactivar esta opción. Al desactivar este tipo de cookies te mostraremos únicamente publicidad genérica.</p>
<p>Además, trabajamos con terceros para que te muestren publicidad personalizada en base a navegación que hagas fuera de nuestras páginas. Del mismo modo si quieres desactivar la publicidad personalizada para recibir únicamente&nbsp;publicidad genérica&nbsp;lo puedes realizar a través de los siguientes enlaces a terceros:</p>
<h2 id="¿cómo-puedo-gestionar-y-eliminar-las-cookies">¿Cómo puedo gestionar y eliminar las cookies?</h2>
<p>El siguiente link incluye vídeos didácticos en formato de videotutoriales en los que se explica, paso a paso, cómo configurar las opciones de privacidad de los navegadores, redes sociales y sistemas operativos móviles más comunes: <a href="https://www.aepd.es/areas/internet/protege-tu-privacidad.html">https://www.aepd.es/areas/internet/protege-tu-privacidad.html</a></p>
<p>Asimismo, hay disponibles servicios que han sido desarrollados especialmente para proporcionar a los usuarios una lista actualizada de cookies y otros mecanismos de seguimiento, como por ejemplo <a href="http://www.ghostery.com">http://www.ghostery.com</a>&nbsp;o <a href="http://disconnect.me">http://disconnect.me</a>. O también puedes utilizar soluciones alternativas tales como <a href="http://www.youronlinechoices.com/es/">http://www.youronlinechoices.com/es/</a></p>
<p>O puedes consultar a continuación las principales cookies que utilizamos desde donde podrás desactivarlas.</p>
<div class="ma-PageCookiesPolicy-legalTableCommonHeader">

<p>  Estrictamente necesarias</p>
<p>  Finalidad: cookies necesarias para prestar el servicio solicitado, así como para recordar las preferencias de configuración.</p>
</div>
<table id="cookieCuadro" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td bgcolor="#d9d9d9" style="background: #d9d9d9;" width="10.19036954087346%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em><strong>Tipolog&iacute;a de cookie</strong></em></p>
            </td>
            <td bgcolor="#d9d9d9" style="background: #d9d9d9;" width="19.372900335946248%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em><strong>Descripci&oacute;n</strong></em></p>
            </td>
            <td bgcolor="#d9d9d9" style="background: #d9d9d9;" width="9.966405375139978%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em><strong>Denominaci&oacute;n cookie</strong></em></p>
            </td>
            <td bgcolor="#d9d9d9" style="background: #d9d9d9;" width="10.19036954087346%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em><strong>Nombre de dominio del servidor desde el que se env&iacute;a la cookie</strong></em></p>
            </td>
            <td bgcolor="#d9d9d9" style="background: #d9d9d9;" width="12.206047032474803%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em><strong>Finalidad</strong></em></p>
            </td>
            <td bgcolor="#d9d9d9" style="background: #d9d9d9;" width="8.062709966405375%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em><strong>Temporalidad</strong></em></p>
            </td>
            <td bgcolor="#d9d9d9" style="background: #d9d9d9;" width="8.958566629339305%">
                <p style="line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;margin-bottom: 0in;"><em><strong>Titularidad propia o de terceros</strong></em></p>
                <p style="margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;"><br></p>
            </td>
            <td bgcolor="#d9d9d9" style="background: #d9d9d9;" width="13.213885778275476%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em><strong>Obtenci&oacute;n informaci&oacute;n adicional sobre uso de cookies por los terceros (Pol&iacute;ticas de privacidad y Pol&iacute;ticas de cookies de terceros)</strong></em></p>
            </td>
            <td bgcolor="#d9d9d9" style="background: #d9d9d9;" width="7.838745800671893%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em><strong>Estrictamente necesaria&nbsp;</strong></em></p>
            </td>
        </tr>
        <tr>
            <td rowspan="3" style="border: 1px solid #000000;" width="10.19036954087346%">
                <p style="line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;margin-bottom: 0in;"><em><strong>Cookies t&eacute;cnicas</strong></em></p>
                <p style="margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;"><br></p>
            </td>
            <td rowspan="3" style="border: 1px solid #000000;" width="19.372900335946248%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Son aquellas que permiten al usuario la navegaci&oacute;n a trav&eacute;s de la p&aacute;gina web, plataforma o aplicaci&oacute;n y la utilizaci&oacute;n de las diferentes opciones y servicios, permiten controlar el tr&aacute;fico y la comunicaci&oacute;n de datos, identificar la sesi&oacute;n, acceder a zonas de acceso restringido, recordar los elementos que integran un pedido, realizar el proceso de compra, realizar la inscripci&oacute;n o participaci&oacute;n en un evento, utilizar elementos de seguridad durante la navegaci&oacute;n, almacenar contenidos para la difusi&oacute;n de v&iacute;deos o sonido o compartir contenidos a trav&eacute;s de redes sociales.</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="9.966405375139978%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;font-style: normal;font-weight: normal;'><em><strong>connect.sid</strong></em></p>
            </td>
            <td style="border: 1px solid #000000;" width="10.19036954087346%">
                <p style="line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;margin-bottom: 0in;"><em>www.</em><em>buenanuncio</em><em>.com</em></p>
                <p style="margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;"><br></p>
            </td>
            <td style="border: 1px solid #000000;" width="12.206047032474803%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Identificar la sesi&oacute;n</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="8.062709966405375%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Al finalizar la navegaci&oacute;n</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="8.958566629339305%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Propia</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="13.213885778275476%">
                <p style="line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;margin-bottom: 0in;"><em>Cookie propia&nbsp;</em></p>
                <p style='margin-bottom: 0in;line-height: 115%;text-align: left;font-family: "Calibri", serif;font-size:12px;'><br></p>
                <p style='margin-bottom: 0in;line-height: 115%;text-align: left;font-family: "Calibri", serif;font-size:12px;'><br></p>
                <p style='margin-bottom: 0in;line-height: 115%;text-align: left;font-family: "Calibri", serif;font-size:12px;'><br></p>
                <p style='margin-bottom: 0in;line-height: 115%;text-align: left;font-family: "Calibri", serif;font-size:12px;'><br></p>
                <p style='margin-bottom: 0in;line-height: 115%;text-align: left;font-family: "Calibri", serif;font-size:12px;'><br></p>
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: left;font-family: "Calibri", serif;font-size:12px;'><br></p>
            </td>
            <td style="border: 1px solid #000000;" width="7.838745800671893%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>S&Iacute;</em></p>
            </td>
        </tr>
        <tr>
            <td style="border: 1px solid #000000;" width="14.149443561208267%">
                <p style='margin-bottom: 0in;line-height: 115%;text-align: left;font-family: "Calibri", serif;font-size:12px;'><span style="background: #ffffff;">favorites</span></p>
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: left;font-family: "Calibri", serif;font-size:12px;'><br></p>
            </td>
            <td style="border: 1px solid #000000;" width="14.467408585055644%">
                <p style="line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;margin-bottom: 0in;"><em>www.</em><em>buenanuncio</em><em>.com</em></p>
                <p style="margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;"><br></p>
            </td>
            <td style="border: 1px solid #000000;" width="17.329093799682035%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Recordar elementos de selecci&oacute;n realizada por el usuario</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="11.446740858505564%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>30 d&iacute;as</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="12.718600953895072%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Propia</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="18.75993640699523%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Cookie propia</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="11.128775834658187%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>S&Iacute;</em></p>
            </td>
        </tr>
        <tr>
            <td style="border: 1px solid #000000;" width="14.149443561208267%">
                <p style='margin-bottom: 0in;line-height: 115%;text-align: left;font-family: "Calibri", serif;font-size:12px;font-style: normal;font-weight: normal;'><span style="background: #ffffff;">postCookie</span></p>
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: left;font-family: "Calibri", serif;font-size:12px;'><br></p>
            </td>
            <td style="border: 1px solid #000000;" width="14.467408585055644%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>www.buenanuncio.com</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="17.329093799682035%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Recordar los datos introducidos para acceder al &aacute;rea restringida de usuario</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="11.446740858505564%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>365</em><em>&nbsp;d&iacute;as</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="12.718600953895072%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Propia</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="18.75993640699523%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Cookie propia</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="11.128775834658187%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>si</em></p>
            </td>
        </tr>
        <tr>
            <td rowspan="3" style="border: 1px solid #000000;" width="10.19036954087346%">
                <p style="line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;margin-bottom: 0in;"><em><strong>Cookies de an&aacute;lisis&nbsp;</strong></em></p>
                <p style="line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;margin-bottom: 0in;"><br></p>
                <p style="margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;"><br></p>
            </td>
            <td rowspan="3" style="border: 1px solid #000000;" width="19.372900335946248%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Son aquellas que, bien tratadas por nuestra parte o por terceros, permiten cuantificar el n&uacute;mero de visitantes y analizar estad&iacute;sticamente la actividad de los usuarios de nuestra p&aacute;gina web. Gracias a ello podemos estudiar la actividad de los usuarios para elaborar perfiles de navegaci&oacute;n de los usuarios, y as&iacute; mejorar la oferta de los productos o servicios que ofrecemos.</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="9.966405375139978%">
                <p style='margin-bottom: 0in;line-height: 115%;text-align: left;font-family: "Calibri", serif;font-size:12px;'><span style="background: #ffffff;">_ga</span></p>
                <p style="margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;"><br></p>
            </td>
            <td style="border: 1px solid #000000;" width="10.19036954087346%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><u><a href="http://www.google.com/"><em>www.google.com</em></a></u></p>
            </td>
            <td style="border: 1px solid #000000;" width="12.206047032474803%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Google Analytics env&iacute;a a Google INC identificador &uacute;nico e informaci&oacute;n an&oacute;nima sobre el uso de la p&aacute;gina web, con objeto de dar informaci&oacute;n sobre la actuaci&oacute;n de los usuarios en la web, fecha, hora y n&uacute;mero de visitas y ubicaci&oacute;n geogr&aacute;fica, con finalidad estad&iacute;stica.</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="8.062709966405375%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Cookie persistente. Hasta 2 a&ntilde;os</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="8.958566629339305%">
                <p style="line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;margin-bottom: 0in;"><em>De terceros</em></p>
                <p style="line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;margin-bottom: 0in;"><em>Google Analytics de Google INC, sociedad de Delaware (Estados Unidos) con oficina principal en California &ndash; Estados Unidos&nbsp;</em></p>
                <p style="margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;"><br></p>
            </td>
            <td style="border: 1px solid #000000;" width="13.213885778275476%">
                <p style="line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;margin-bottom: 0in;"><em>M&aacute;s informaci&oacute;n:&nbsp;</em><u><a href="https://www.google.es/intl/es/policies/technologies/cookies/"><em>https://www.google.es/intl/es/policies/technologies/cookies/</em></a></u></p>
                <p style="margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;"><br></p>
            </td>
            <td style="border: 1px solid #000000;" width="7.838745800671893%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>NO</em></p>
            </td>
        </tr>
        <tr>
            <td style="border: 1px solid #000000;" width="14.149443561208267%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: left;font-family: "Calibri", serif;font-size:12px;'><span style="background: #ffffff;">_gat</span></p>
            </td>
            <td style="border: 1px solid #000000;" width="14.467408585055644%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>www.google.com</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="17.329093799682035%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Google Analytics env&iacute;a a Google INC identificador &uacute;nico e informaci&oacute;n an&oacute;nima sobre el uso de la p&aacute;gina web, con objeto de dar informaci&oacute;n sobre la actuaci&oacute;n de los usuarios en la web, fecha, hora y n&uacute;mero de visitas y ubicaci&oacute;n geogr&aacute;fica, con finalidad estad&iacute;stica.</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="11.446740858505564%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Cookie persistente. Hasta 2 a&ntilde;os</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="12.718600953895072%">
                <p style="line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;margin-bottom: 0in;"><em>De terceros</em></p>
                <p style="line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;margin-bottom: 0in;"><em>Google Analytics de Google INC, sociedad de Delaware (Estados Unidos) con oficina principal en California &ndash; Estados Unidos&nbsp;</em></p>
                <p style="margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;"><br></p>
            </td>
            <td style="border: 1px solid #000000;" width="18.75993640699523%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><br></p>
            </td>
            <td style="border: 1px solid #000000;" width="11.128775834658187%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>NO</em></p>
            </td>
        </tr>
        <tr>
            <td style="border: 1px solid #000000;" width="14.149443561208267%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: left;font-family: "Calibri", serif;font-size:12px;'><span style="background: #ffffff;">_gid</span></p>
            </td>
            <td style="border: 1px solid #000000;" width="14.467408585055644%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>www.google.com</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="17.329093799682035%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Google Analytics env&iacute;a a Google INC identificador &uacute;nico e informaci&oacute;n an&oacute;nima sobre el uso de la p&aacute;gina web, con objeto de dar informaci&oacute;n sobre la actuaci&oacute;n de los usuarios en la web, fecha, hora y n&uacute;mero de visitas y ubicaci&oacute;n geogr&aacute;fica, con finalidad estad&iacute;stica.</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="11.446740858505564%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>Cookie persistente. Hasta 2 a&ntilde;os</em></p>
            </td>
            <td style="border: 1px solid #000000;" width="12.718600953895072%">
                <p style="line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;margin-bottom: 0in;"><em>De terceros</em></p>
                <p style="line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;margin-bottom: 0in;"><em>Google Analytics de Google INC, sociedad de Delaware (Estados Unidos) con oficina principal en California &ndash; Estados Unidos&nbsp;</em></p>
                <p style="margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: Calibri, serif;font-size:12px;"><br></p>
            </td>
            <td style="border: 1px solid #000000;" width="18.75993640699523%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><br></p>
            </td>
            <td style="border: 1px solid #000000;" width="11.128775834658187%">
                <p style='margin-bottom: 0.1in;line-height: 115%;text-align: justify;font-family: "Calibri", serif;font-size:12px;'><em>NO</em></p>
            </td>
        </tr>
    </tbody>
</table>

</div>