<div><h1 id="política-de-privacidad">POLÍTICA DE PRIVACIDAD</h1>
<h2 id="información-adicional-sobre-protección-de-datos">Información adicional sobre Protección de Datos</h2>
<h3 id="1-responsable">1. Responsable</h3>
<p><strong>¿Quién es el responsable del tratamiento de tus datos?</strong></p>
<ul>
<li>Identidad: </li>
<li>Dir. postal: ,<pre><code>         C/ 
         cp</code></pre></li>
<li>Contacto Protección de Datos: <a href="mailto:privacidad@buenanuncio.com">privacidad@buenanuncio.com</a></li>
</ul>
<h3 id="2-finalidades">2. Finalidades</h3>
<p><strong>¿Con qué finalidad tratamos tus datos personales?</strong></p>
<p>En cumplimiento de lo dispuesto en el Reglamento Europeo 2016/679 General de Protección de Datos, te informamos de que, tanto si eres anunciante como usuario, en Buenanuncio.com tratamos los datos que nos facilitas para las siguientes finalidades:</p>
<ol>
<li>Realizar una correcta gestión de la publicación de tu anuncio. Este servicio incluye que tratemos tus datos para:<ul>
<li>Crearte una cuenta de usuario en el momento de la publicación del primer anuncio, la cual es necesaria para que puedas gestionar los anuncios que publiques y los contactos que recibas. Así, si en el momento de publicar tu primer anuncio no eres un usuario registrado, automáticamente te crearemos una cuenta y te enviaremos un email de confirmación.</li>
</ul>
</li>
<li>Posibilitar el contacto con los anunciantes. Cuando contactes con los anunciantes, les enviaremos los datos personales y la información que incluyas en el formulario de contacto.</li>
<li>Prevenir abusos y fraudes en el uso de nuestros servicios (por ejemplo, actividades fraudulentas, ataques de denegación de servicios, envío de spam, entre otros).</li>
<li>Ceder datos a organismos y autoridades públicas, siempre y cuando sean requeridos de conformidad con las disposiciones legales y reglamentarias.</li>
</ol>
<h3 id="3-plazo-de-conservación-de-los-datos">3. Plazo de conservación de los datos</h3>
<p><strong>¿Por cuánto tiempo conservaremos tus datos?</strong></p>
<p>Los datos facilitados se conservan mientras no se solicite su supresión o cuando deje de ser necesarios para desarrollar las acciones de comunicación o servicios que presta o bien porque no son adecuados, pertinentes o están desactualizados. </p>
<p>Independientemente de si eres un anunciante o un usuario, conservaremos tus datos de navegación durante un plazo máximo de 12 meses.</p>
<h3 id="4-legitimación">4. Legitimación</h3>
<p><strong>¿Cuál es la legitimación para el tratamiento de tus datos?</strong></p>
<p>La base legal para el tratamiento de tus datos radica en:</p>
<ul>
<li>El <strong>consentimiento del usuario</strong> en relación con las finalidades indicadas en los apartados 3 y 4 anteriores.</li>
<li>El <strong>interés legítimo del responsable del tratamiento</strong> para la finalidad indicada en el apartado 5 anterior. El interés legítimo consiste en proteger a los usuarios de buenanuncio.com de abusos y fraudes en el uso de nuestros servicios.</li>
</ul>
<h3 id="5-destinatarios">5. Destinatarios</h3>
<p><strong>¿A qué destinatarios se comunicarán tus datos?</strong></p>
<p>Tus datos personales serán comunicados a terceros en los siguientes supuestos:</p>
<ul>
<li>Tus datos personales se comunicarán al anunciante que se indique en el detalle de cada anuncio para posibilitar el contacto con este último.</li>
<li>Tus datos personales podrán ser accedidos por aquellos proveedores que prestan servicios a buenanuncio.com, tales como servicios de alojamiento de contenido.</li>
<li>Tus datos personales también podrán ser cedidos a las autoridades competentes en los casos que exista una obligación legal.</li>
</ul>
<h3 id="6-derechos">6. Derechos</h3>
<p><strong>¿Cuáles son tus derechos cuando nos facilitas tus datos y cómo puedes ejercerlos?</strong></p>
<p>Tienes derecho a obtener confirmación sobre si en buenanuncio.com estamos tratando datos personales que te conciernan, o no.</p>
<p>Asimismo, tienes derecho a acceder a tus datos personales, así como a solicitar la rectificación de los datos inexactos o, en su caso, solicitar su supresión cuando, entre otros motivos, los datos ya no sean necesarios para los fines que fueron recogidos.</p>
<p>En determinadas circunstancias, podrás solicitar la limitación del tratamiento de tus datos, en cuyo caso únicamente los conservaremos para el ejercicio o la defensa de reclamaciones.</p>
<p>Adicionalmente, en determinadas circunstancias y por motivos relacionados con tu situación particular, podrás oponerte al tratamiento de tus datos. Buenanuncio.com dejará de tratar los datos, salvo por motivos legítimos imperiosos, o el ejercicio o la defensa de posibles reclamaciones.</p>
<p>Asimismo, puedes ejercer el derecho a la portabilidad de los datos, así como retirar los consentimientos facilitados en cualquier momento, sin que ello afecte a la licitud del tratamiento basado en el consentimiento previo a su retirada.</p>
<p>Si deseas hacer uso de cualquiera de tus derechos puedes dirigirte a nosotros mediante los correos electrónicos indicados en el apartado 1, a través de los enlaces habilitados que encontrarás en los correos electrónicos y comunicaciones de Buenanuncio.com o en tu cuenta de usuario. Alternativamente, también puedes dirigirte a nosotros mediante correo postal en la siguiente dirección: , C/ . Dirigido a Atención al Usuario e indicando en el sobre "Protección de Datos". Recuerda facilitar la mayor información posible sobre tu solicitud: Nombre y apellidos, dirección de correo electrónico que utilizas para la cuenta o portal objeto de tu solicitud.</p>
<p>Por último, te informamos que puedes dirigirte ante la Agencia Española de Protección de Datos y demás organismos públicos competentes para cualquier reclamación derivada del tratamiento de tus datos personales.</p>
<p>En relación a los datos facilitados a los anunciantes con los que hayas contactado, puedes ejercer tus derechos frente al anunciante como usuario, dirigiéndote a la dirección del anunciante que figura consignada en la parte inferior del anuncio. Se entiende, en este caso, por anunciante toda aquella persona física o jurídica que oferte todo tipo de productos o servicios en nuestros Portales.</p>
<h3 id="7-política-de-cookies">7. Política de cookies</h3>
<p><strong>¿Qué cookies utilizamos?</strong></p>
<p>Para conocer las cookies que utilizamos en esta página web/aplicación móvil, recuerda que puedes acceder a nuestra Política de Cookies a través del siguiente enlace a la <a href="/cuadro-cookies">política de cookies</a>.</p>
</div>