<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;line-height: 100%;text-align: justify;"><br></p>
<ol>
    <li>
        <p style="margin-bottom: 0.14in;color: #000000;line-height: 100%;"><strong>&iquest;Qui&eacute;n es el responsable del tratamiento?</strong></p>
    </li>
</ol>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;line-height: 100%;text-align: justify;">En cumplimiento de lo dispuesto en el Reglamento General de Protecci&oacute;n de Datos (EU) 2016/679 y la Ley Org&aacute;nica 3/2018, de 5 de diciembre, de Protecci&oacute;n de Datos Personales y Garant&iacute;a de los derechos digitales (en adelante &ldquo;LOPDGDD&rdquo;), y Ley 34/2002 de 11 de julio, de Servicios de la Sociedad de la Informaci&oacute;n y de Comercio Electr&oacute;nico, y restante normativa de aplicaci&oacute;n, le informamos que el Responsable del tratamiento de los datos personales tratados en el Sitio Web <strong>www.</strong><strong>buenanuncio</strong><strong>.com</strong> es:</p>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;line-height: 100%;text-align: justify;"><br></p>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;line-height: 100%;text-align: justify;">Direcci&oacute;n:</p>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;line-height: 100%;text-align: justify;">N.I.F:</p>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;line-height: 100%;text-align: justify;">Tel&eacute;fono: +34</p>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;line-height: 100%;text-align: justify;">Correo electr&oacute;nico:<u>&nbsp;</u></p>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;line-height: 100%;text-align: justify;"><br></p>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;line-height: 100%;text-align: justify;">Nos comprometemos a conservar la informaci&oacute;n que nos facilite en la m&aacute;s estricta confidencialidad evitando accesos no autorizados, manipulaci&oacute;n de informaci&oacute;n, la p&eacute;rdida, destrucci&oacute;n o robo de informaci&oacute;n. Para ello, aplicaremos las medidas de seguridad que establece la normativa de aplicaci&oacute;n y todas aquellas que nuestros recursos y la tecnolog&iacute;a moderna nos permita. Tenga en cuenta que, en muchos casos, resulta indispensable que facilite la informaci&oacute;n que le solicitamos para poder disfrutar de los beneficios de nuestra web.</p>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;line-height: 100%;text-align: justify;"><br></p>
<ol start="2">
    <li>
        <p style="margin-bottom: 0.14in;color: #000000;line-height: 100%;"><strong>Objeto</strong></p>
    </li>
</ol>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;line-height: 100%;text-align: justify;">La presente Pol&iacute;tica de Privacidad tiene por objeto informarle acerca de c&oacute;mo tratamos sus Datos Personales. Si Usted no est&aacute; de acuerdo con los t&eacute;rminos contenidos en esta Pol&iacute;tica y no acepta los mismos en su proceso de registro, no podr&aacute; seguir adelante con el uso y acceso a la web. Si tiene alguna consulta respecto al contenido puede contactarnos en el correo electr&oacute;nico indicado en el encabezamiento.</p>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;line-height: 100%;text-align: justify;"><br></p>
<ol start="3">
    <li>
        <p style="margin-bottom: 0.14in;color: #000000;line-height: 100%;"><strong>&iquest;A qui&eacute;n aplica?</strong></p>
    </li>
</ol>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;line-height: 100%;text-align: justify;">La presente Pol&iacute;tica aplica a todos los Usuarios que utilicen los servicios de nuestra p&aacute;gina web, con independencia del lugar y el momento en el que operen.</p>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;line-height: 100%;text-align: justify;"><br></p>
<ol start="4">
    <li>
        <p style="margin-bottom: 0.14in;color: #000000;line-height: 100%;"><strong>&iquest;Qu&eacute; datos que te solicitamos en calidad de Responsable?</strong></p>
    </li>
</ol>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;background: rgb(255, 255, 255);line-height: 100%;text-align: justify;">En el sitio web podr&iacute;amos solicitarle informaci&oacute;n b&aacute;sica o datos identificativos a trav&eacute;s de nuestro formulario de contacto, como puede ser su nombre completo, direcci&oacute;n, tel&eacute;fono, dejando un espacio para que nos remita su consulta, solicitud queja o sugerencia con texto libre. En el formulario de compra de la tienda online, adem&aacute;s de los datos identificativos, le solicitaremos datos para la facturaci&oacute;n y pago, como el n&ordm; de tarjeta de cr&eacute;dito/d&eacute;bito. Asimismo, trataremos los datos obtenidos a trav&eacute;s de las <em>cookies</em>, lo que podr&aacute; consultar con m&aacute;s detalle en nuestra <u>Pol&iacute;tica de Cookies</u>.</p>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;background: rgb(255, 255, 255);line-height: 100%;text-align: justify;"><br></p>
<ol start="5">
    <li>
        <p style="margin-bottom: 0.14in;color: #000000;line-height: 100%;"><strong>&iquest;Con qu&eacute; finalidad tratamos los datos?</strong></p>
    </li>
</ol>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;line-height: 100%;text-align: justify;">Las finalidades por las que solicitamos o recabamos autom&aacute;ticamente la informaci&oacute;n, en atenci&oacute;n a los diferentes canales a trav&eacute;s de los cuales los usuarios han facilitado sus datos de car&aacute;cter personal, son las siguientes:</p>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;line-height: 100%;text-align: justify;"><br></p>
<ol type="a">
    <li>
        <p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0.03in;line-height: 100%;text-align: justify;">Gestionar adecuadamente la p&aacute;gina web y velar por la seguridad de nuestros usuarios.</p>
    </li>
    <li>
        <p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0.03in;line-height: 100%;text-align: justify;">Facilitar la navegaci&oacute;n y orientarla a sus preferencias, en base a la Pol&iacute;tica de Cookies.</p>
    </li>
    <li>
        <p style="color: rgb(0, 0, 0);margin-bottom: 0.03in;line-height: 100%;text-align: justify;">Comprobar en determinados casos la veracidad de sus informaciones.</p>
    </li>
    <li>
        <p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0.03in;line-height: 100%;text-align: justify;">Darle de alta como usuario en la web. Gestionar los pedidos y compras realizadas a trav&eacute;s de la tienda virtual. Gesti&oacute;n de los env&iacute;os, pagos, reclamaciones y devoluciones.</p>
    </li>
    <li>
        <p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0.03in;line-height: 100%;text-align: justify;">Contestar a sus consultas, solicitudes o peticiones. Gestionar el servicio solicitado atendiendo su solicitud o consulta y tramitando su petici&oacute;n.</p>
    </li>
    <li>
        <p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0.03in;line-height: 100%;text-align: justify;">La recepci&oacute;n, en su caso, de curr&iacute;culum vitae por parte de demandantes de empleo interesados a trav&eacute;s de los canales habilitados.</p>
    </li>
    <li>
        <p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0.03in;line-height: 100%;text-align: justify;">Realizar acciones de marketing y enviarle comunicaciones comerciales, si consiente, en funci&oacute;n de sus preferencias de comunicaci&oacute;n, avisarle sobre eventos, promociones, ofertas y actividades relacionadas con nuestro sector que le puedan interesar.</p>
    </li>
</ol>
<p style="color: rgb(0, 0, 0);margin-left: 0.3in;margin-bottom: 0.03in;line-height: 100%;text-align: justify;"><br><br></p>
<p style="color: rgb(0, 0, 0);margin-bottom: 0in;line-height: 100%;text-align: justify;"><br></p>
<ol start="6">
    <li>
        <p style="margin-bottom: 0.14in;color: #000000;line-height: 100%;"><strong>&iquest;Cu&aacute;l es la legitimaci&oacute;n para el tratamiento?&nbsp;</strong></p>
    </li>
</ol>
<p style="color: rgb(0, 0, 0);margin-bottom: 0.03in;line-height: 100%;text-align: justify;">El <u>consentimiento</u> del usuario para el tratamiento de sus datos personales de acuerdo con las finalidades antes descritas, en el momento de la recogida de datos a trav&eacute;s de nuestros formularios, as&iacute; como,&nbsp;para el env&iacute;o de informaci&oacute;n comercial, al marcar la casilla habilitada a este efecto, con el fin de recibir comunicaciones comerciales relacionadas que puedan ser de su inter&eacute;s.</p>
<p style="color: rgb(0, 0, 0);margin-bottom: 0.03in;line-height: 100%;text-align: justify;"><br><br></p>
<p style="color: rgb(0, 0, 0);margin-bottom: 0.03in;line-height: 100%;text-align: justify;">En el caso de realizar compras a trav&eacute;s de nuestra tienda online el tratamiento ser&aacute; necesario para la <u>ejecuci&oacute;n de un contrato</u> o para la aplicaci&oacute;n a de medidas precontractuales, realizar encargos a trav&eacute;s de la plataforma habilitada a este efecto.</p>
<p style="color: rgb(0, 0, 0);margin-bottom: 0.03in;line-height: 100%;text-align: justify;"><br><br></p>
<p style="color: rgb(0, 0, 0);margin-left: 0.49in;margin-bottom: 0.03in;line-height: 100%;text-align: justify;"><br><br></p>
<ol start="7">
    <li>
        <p style="color: rgb(0, 0, 0);margin-bottom: 0in;line-height: 100%;text-align: justify;"><strong>&iquest;Cu&aacute;nto tiempo conservaremos sus datos?</strong></p>
    </li>
</ol>
<p style="color: rgb(0, 0, 0);margin-bottom: 0in;line-height: 100%;text-align: justify;"><br></p>
<p style="color: rgb(0, 0, 0);margin-bottom: 0in;line-height: 100%;text-align: justify;"><span style="font-weight: normal;">Los datos personales se conservar&aacute;n durante el periodo de tiempo necesario para cumplir con las finalidades para las cuales se recabaron y mientras no solicite el derecho de supresi&oacute;n, y, en todo caso, no por m&aacute;s tiempo de los plazos legalmente establecidos.</span></p>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;line-height: 100%;text-align: justify;"><br></p>
<ol start="8">
    <li>
        <p style="margin-bottom: 0.14in;color: #000000;line-height: 100%;"><strong>&iquest;A quien comunicaremos los datos?</strong></p>
    </li>
</ol>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;line-height: 100%;text-align: justify;">No se tiene prevista la cesi&oacute;n de sus datos de car&aacute;cter personal a terceros, salvo para el cumplimiento de obligaciones legales. Tampoco se realizan transferencias internacionales de datos a terceros pa&iacute;ses.</p>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;line-height: 100%;text-align: justify;"><br></p>
<p style="margin-bottom: 0.14in;color: #000000;line-height: 100%;margin-left: 0.2in;"><strong>11. &iquest;Qu&eacute; derechos tienes como usuario?</strong></p>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;background: rgb(255, 255, 255);line-height: 100%;text-align: justify;">La LOPDGDD y el RGPD recogen una serie de derechos en favor de las personas cuyos datos personales son tratados. Todos los derechos mencionados a continuaci&oacute;n, podr&aacute; ejercitarlos remitiendo su solicitud por correo electr&oacute;nico seg&uacute;n se indica en el apartado 1, acompa&ntilde;ando copia de su documento de identidad. El plazo m&aacute;ximo para resolver es el de un mes a contar desde la recepci&oacute;n de su solicitud. Tenga en cuenta que podr&iacute;amos solicitarle informaci&oacute;n adicional para comprobar su identidad antes de proceder con su solicitud.</p>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;background: rgb(255, 255, 255);line-height: 100%;text-align: justify;"><br></p>
<ol type="a">
    <li>
        <p style="color: rgb(0, 0, 0);margin-bottom: 0in;background: rgb(255, 255, 255);line-height: 100%;text-align: justify;"><strong>Derecho de acceso:</strong></p>
    </li>
</ol>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;background: rgb(255, 255, 255);line-height: 100%;text-align: justify;">El derecho de acceso permite al Usuario conocer y obtener gratuitamente informaci&oacute;n sobre sus datos de car&aacute;cter personal sometidos a tratamiento. Podr&aacute; solicitarnos que le indiquemos la informaci&oacute;n que conservamos sobre Usted.</p>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;background: rgb(255, 255, 255);line-height: 100%;text-align: justify;"><br></p>
<ol start="2" type="a">
    <li>
        <p style="color: rgb(0, 0, 0);margin-bottom: 0in;background: rgb(255, 255, 255);line-height: 100%;text-align: justify;"><strong>Derecho de rectificaci&oacute;n:</strong></p>
    </li>
</ol>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;background: rgb(255, 255, 255);line-height: 100%;text-align: justify;">Este derecho se caracteriza porque permite corregir errores, modificar los datos que resulten ser inexactos o incompletos y garantizar la certeza de la informaci&oacute;n objeto de tratamiento. Usted deber&aacute; informarnos sobre cualquier cambio en sus datos y ser&aacute; responsable de actualizar su informaci&oacute;n.</p>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;background: rgb(255, 255, 255);line-height: 100%;text-align: justify;"><br></p>
<ol start="3" type="a">
    <li>
        <p style="color: rgb(0, 0, 0);margin-bottom: 0in;background: rgb(255, 255, 255);line-height: 100%;text-align: justify;"><strong>Derecho de cancelaci&oacute;n/supresi&oacute;n/olvido:</strong></p>
    </li>
</ol>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;background: rgb(255, 255, 255);line-height: 100%;text-align: justify;">El derecho de supresi&oacute;n permite que se supriman los datos que resulten ser inadecuados o excesivos sin perjuicio del deber de bloqueo, recogido en la LOPDGDD.</p>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;background: rgb(255, 255, 255);line-height: 100%;text-align: justify;"><br></p>
<ol start="4" type="a">
    <li>
        <p style="color: rgb(0, 0, 0);margin-bottom: 0in;background: rgb(255, 255, 255);line-height: 100%;text-align: justify;"><strong>Derecho de oposici&oacute;n:</strong></p>
    </li>
</ol>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;background: rgb(255, 255, 255);line-height: 100%;text-align: justify;">El derecho de oposici&oacute;n es el derecho del Usuario a que no se lleve a cabo el tratamiento de sus datos de car&aacute;cter personal o se cese en el mismo para determinadas finalidades. Podr&aacute; oponerse al tratamiento de sus datos indicando las finalidades concretas objeto de oposici&oacute;n.</p>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;background: rgb(255, 255, 255);line-height: 100%;text-align: justify;"><br></p>
<ol start="5" type="a">
    <li>
        <p style="color: rgb(0, 0, 0);margin-bottom: 0in;background: rgb(255, 255, 255);line-height: 100%;text-align: justify;"><strong>Derecho de Portabilidad:</strong></p>
    </li>
</ol>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;background: rgb(255, 255, 255);line-height: 100%;text-align: justify;">El derecho a la portabilidad le permitir&aacute; solicitarnos una copia en un formato estructurado, de uso com&uacute;n y lectura mec&aacute;nica de sus datos personales.</p>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;background: rgb(255, 255, 255);line-height: 100%;text-align: justify;"><br></p>
<ol start="6" type="a">
    <li>
        <p style="color: rgb(0, 0, 0);margin-bottom: 0in;background: rgb(255, 255, 255);line-height: 100%;text-align: justify;"><strong>Derecho de Limitaci&oacute;n del Tratamiento:</strong></p>
    </li>
</ol>
<p style="color: rgb(0, 0, 0);margin-bottom: 0in;background: rgb(255, 255, 255);line-height: 100%;text-align: justify;">Al ejercitar este derecho, sus datos solo podr&aacute;n ser tratados, con excepci&oacute;n de su conservaci&oacute;n, para la formulaci&oacute;n, el ejercicio o la defensa de reclamaciones.</p>
<p style="color: rgb(0, 0, 0);margin-left: 0.5in;margin-bottom: 0in;background: rgb(255, 255, 255);line-height: 100%;text-align: justify;"><br></p>
<ol start="7" type="a">
    <li>
        <p style="color: rgb(0, 0, 0);margin-bottom: 0in;background: rgb(255, 255, 255);line-height: 100%;text-align: justify;"><strong>Derecho a presentar una reclamaci&oacute;n ante la autoridad de control:</strong></p>
    </li>
</ol>
<p style="color: rgb(0, 0, 0);margin-bottom: 0in;background: rgb(255, 255, 255);line-height: 100%;text-align: justify;">Podr&aacute; presentar una reclamaci&oacute;n ante la Agencia Espa&ntilde;ola de Protecci&oacute;n de Datos (<u><a href="http://www.aepd.es/">www.aepd.es</a></u>) cuando considere que no se ha atendido convenientemente el ejercicio de sus derechos.</p>
<p style="color: rgb(0, 0, 0);margin-bottom: 0in;background: rgb(255, 255, 255);line-height: 100%;text-align: justify;"><br></p>
<p style="color: rgb(0, 0, 0);margin-bottom: 0in;background: rgb(255, 255, 255);line-height: 100%;text-align: justify;">Del mismo modo tendr&aacute; derecho a no ser objeto de decisiones basadas &uacute;nicamente en el tratamiento automatizado de sus datos, incluida la elaboraci&oacute;n de perfiles, que produzca efectos jur&iacute;dicos en &eacute;l o le afecte significativamente de modo similar. El Usuario tendr&aacute; derecho a revocar su consentimiento en cualquier momento.</p>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;background: rgb(255, 255, 255);line-height: 100%;text-align: justify;"><br></p>
<ol start="12">
    <li>
        <p style="margin-bottom: 0.14in;color: #000000;line-height: 100%;"><strong>&iquest;Qu&eacute; medidas de seguridad aplicamos?</strong></p>
    </li>
</ol>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;background: rgb(255, 255, 255);line-height: 100%;text-align: justify;">En el tratamiento de su informaci&oacute;n personal aplicamos medidas de seguridad de &iacute;ndole t&eacute;cnica y organizativa adecuadas seg&uacute;n el tipo de datos y los avances de la t&eacute;cnica, nuestros medios f&iacute;sicos y legales. Nuestro objetivo es evitar el acceso de terceros no autorizados, el robo, la p&eacute;rdida o divulgaci&oacute;n de su informaci&oacute;n. Sin embargo, Internet no es un entorno totalmente seguro, por lo que, aunque apliquemos todas las medidas de seguridad posibles, el riesgo de incidencia respecto a la informaci&oacute;n nunca desaparecer&aacute; totalmente, por este motivo le pedimos que si detecta alguna incidencia o tiene indicios de que su informaci&oacute;n puede estar en riesgo, p&oacute;ngase en contacto con nosotros para que podamos investigar el hecho y ofrecerle soluciones.</p>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;background: rgb(255, 255, 255);line-height: 100%;text-align: justify;"><br></p>
<ol start="12">
    <li>
        <p style="margin-bottom: 0.14in;color: #000000;line-height: 100%;"><strong>&iquest;Podemos modificar la Pol&iacute;tica de Privacidad?</strong></p>
    </li>
</ol>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;background: rgb(255, 255, 255);line-height: 100%;text-align: justify;">Podr&iacute;a en el futuro modificar la presente Pol&iacute;tica de Privacidad. En caso de modificaci&oacute;n, adem&aacute;s de publicarse la versi&oacute;n actualizada, le informaremos sobre dicha modificaci&oacute;n con una ventana en la web. Usted deber&aacute; leer estas modificaciones antes de continuar usando la web.</p>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;background: rgb(255, 255, 255);line-height: 100%;text-align: justify;"><br></p>
<ol start="12">
    <li>
        <p style="margin-bottom: 0.14in;color: #000000;line-height: 100%;"><strong>&iquest;Cu&aacute;l es la ley aplicable y jurisdicci&oacute;n?</strong></p>
    </li>
</ol>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;line-height: 100%;text-align: justify;">La presente Pol&iacute;tica, as&iacute; como el uso del Sitio Web, se regir&aacute;n por la legislaci&oacute;n espa&ntilde;ola. Cualquier controversia ser&aacute; resuelta ante los juzgados correspondientes al domicilio del usuario.</p>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;line-height: 100%;text-align: justify;"><br></p>
<p style="color: rgb(0, 0, 0);font-family: Arial, sans-serif;font-size:15px;margin-bottom: 0in;line-height: 100%;text-align: justify;">En el supuesto de que cualquier estipulaci&oacute;n resultara inexigible o nula en virtud de la legislaci&oacute;n aplicable o como consecuencia de una resoluci&oacute;n judicial o administrativa, dicha inexigibilidad o nulidad no har&aacute; que la presente Pol&iacute;tica resulte inexigibles o nulas en su conjunto. En dichos casos, <span style="font-weight: normal;">se</span><strong>&nbsp;</strong>proceder&aacute; a la modificaci&oacute;n o sustituci&oacute;n de dicha estipulaci&oacute;n por otra que sea v&aacute;lida y exigible y que, en la medida de lo posible, consiga el objetivo y pretensi&oacute;n reflejados en la estipulaci&oacute;n original.</p>