<div class="ma-MarkdownWrapper"><div><h1 id="condiciones-de-uso">Condiciones de uso</h1>
<div class="ma-PageTermsOfUse-epigraph">

<h2 id="condiciones-de-uso-1">Condiciones de uso</h2>
<p>Estas condiciones de uso son aplicables a Buenanuncio.com</p>
<h3 id="1-introducción">1. Introducción</h3>
<p>Te damos la bienvenida al portal <a href="/">www.Buenanuncio.com</a> (en adelante, el "Portal"). Los productos y los servicios de Buenanuncio (en adelante, los "Servicios") se proporcionan a través de RESPONSABLE (en adelante, «Buenanuncio») en la dirección C/ y con Número de Identificación </p>
<p>El uso de nuestro Portal implica la aceptación y adhesión a todas nuestras Condiciones de Uso y a nuestra Política de Privacidad. Te recomendamos que las leas detenidamente.</p>
<p>Nuestros Servicios son muy diversos, por lo que en ocasiones se pueden aplicar condiciones o requisitos de productos adicionales (incluidas restricciones de edad). Las condiciones adicionales estarán disponibles junto con los Servicios pertinentes y formarán parte del acuerdo que estableces con Buenanuncio al usar nuestros servicios.</p>
<h3 id="2-definición-del-servicio-de-Buenanuncio">2. Definición del servicio de Buenanuncio</h3>
<p>El Servicio de Buenanuncio consiste en la inserción, por parte del anunciante, de anuncios en el Portal. Buenanuncio se reserva el derecho a difundir en terceros portales, total o parcialmente, los Anuncios del anunciante, así como en otros sitios web, tales como redes sociales o blogs, aceptando el Anunciante dicha condición.</p>
<p>Para insertar anuncios en el Portal el anunciante ha de completar el formulario de "Publicar Anuncios". Una vez insertado su anuncio, el anunciante recibirá una notificación confirmándole la publicación de su anuncio. A partir de ese momento los datos aportados por el anunciante quedarán registrados, y serán tratados de conformidad con nuestra Política de Privacidad. Con el correo electrónico que ha facilitado el anunciante en la inserción del anuncio y la clave de acceso generada por este mismo, el anunciante puede acceder al área "Modificar mis Anuncios" para modificar, renovar o eliminar sus anuncios.</p>
<p>El anuncio permanecerá publicado en el Portal por el periodo elegido por el anunciante, si no se ha eliminado antes de la finalización del periodo por parte del anunciante o por parte de Buenanuncio. Para publicar nuevamente el anuncio eliminado, o cualquier otro, el anunciante deberá publicar un nuevo anuncio.</p>
<h3 id="3-uso-del-portal-y-sus-servicios">3. Uso del portal y sus servicios</h3>
<p>El usuario se compromete a utilizar el Portal, sus contenidos y servicios conforme con:</p>
<ol>
<li>La Ley o cualesquiera otras normas del ordenamiento jurídico aplicable</li>
<li>Las presentes Condiciones de Uso</li>
<li>Las Normas de Publicación</li>
<li>Las buenas costumbres</li>
<li>El orden público</li>
</ol>
<p>Asimismo, el Usuario se compromete expresamente a no destruir, alterar, inutilizar o, de cualquier otra forma, dañar los datos, programas o documentos electrónicos y demás que se encuentren en el Portal de <a href="/">www.Buenanuncio.com.</a></p>
<p>El Usuario se compromete a no obstaculizar el acceso de otros usuarios al servicio de acceso mediante el consumo masivo de los recursos informáticos a través de los cuales Buenanuncio presta el servicio, así como realizar acciones que dañen, interrumpan o generen errores en dichos sistemas.</p>
<p>El Usuario se compromete a no transmitir, introducir, difundir y poner a disposición de terceros cualquier tipo de material e información (programas, virus, macros, applets, controles ActiveX, datos, contenidos, dibujos, archivos de sonido e imagen, etc.) que sean contrarios a la ley, el orden público o que causen o sean susceptibles de causar cualquier tipo de alteración en los sistemas informáticos de Buenanuncio o de terceros.</p>
<p>El Usuario deberá anunciarse en la categoría adecuada y la localidad en la que se encuentre el producto, el coche, el inmueble, el empleo, el servicio o animal y comprometerse a:</p>
<ol>
<li>No incitar a actuar de forma ilegal.</li>
<li>No difundir difamaciones, calumnias, injurias y/o contenidos o propaganda de carácter racista, xenófobo, de apología del terrorismo o que atenten contra los derechos humanos.</li>
<li>No manifestar falsedades o inducir a error.</li>
<li>No suplantar a otros usuarios utilizando sus claves de acceso a los distintos servicios y/o contenidos del Portal.</li>
<li>No utilizar correos electrónicos ficticios para publicar anuncios.</li>
<li>No abusar del sistema de "denunciar" a un anuncio para eliminar anuncios sin causa justificada.</li>
<li>No difundir comunicaciones no solicitadas o autorizadas.</li>
<li>No difundir mensajes que atenten contra la dignidad de terceros o que sean groseros o falten el respeto</li>
<li>No usar robots, spiders, "scrapers" o cualquier otro medio automático para acceder al Portal para copiar, retirar, renovar o publicar contenido sin previo consentimiento escrito por Buenanuncio</li>
<li>No usar ninguna herramienta de multiposting que no haya sido expresamente autorizada por Buenanuncio. En caso de incumplimiento de esta norma por parte del usuario el portal podrá dar de baja el servicio sin previo aviso sin reembolsar los servicios contratados y no disfrutados</li>
<li>No almacenar o en cualquier forma recabar información o datos personales de terceros sin su consentimiento, incluidas las direcciones de correo electrónico.</li>
<li>No esquivar, evitar o "saltar" las medidas utilizadas para impedir o restringir el acceso al Portal.</li>
</ol>
<p>Al contactar a un anunciante a través de un anuncio de la página mediante el formulario "Enviar email" el interesado acepta que se le envíe un email al correo electrónico aportado a modo de recordatorio de dicho contacto.</p>
<h3 id="4-propiedad-intelectual-e-industrial">4. Propiedad intelectual e industrial</h3>
<p>El Portal aloja contenidos tanto propios como contenidos creados por los usuarios. El Portal está protegido por leyes de propiedad intelectual y por los tratados internacionales en la materia. El contenido que se muestra en o a través del sitio web está protegido en su condición de obra colectiva y / o compilación, de acuerdo con las leyes de propiedad intelectual y los tratados internacionales sobre la materia.</p>
<p>Salvo que fuera autorizado por Buenanuncio o a menos que ello resulte legalmente permitido, el usuario no podrá copiar, modificar, distribuir, vender, alquilar o explotar de cualquier otra forma contenidos del Portal (excepción hecha del propio contenido del usuario). Asimismo el usuario no puede llevar a cabo operaciones de desensamblaje o descompilación, ingeniería inversa o cualquier otra operación destinada a obtener cualquier código fuente contenido en este Portal.</p>
<p>Al subir fotografías al Portal, el usuario cede gratuitamente a Buenanuncio los derechos de explotación de propiedad intelectual sobre las mismas, por lo que Buenanuncio podrá reproducirlas, transformarlas (incluyendo, sin limitación, la inclusión de marcas de agua u otros mecanismos que impidan el aprovechamiento inconsentido por parte de terceros), distribuirlas y comunicarlas al público (incluida la puesta a disposición del público) a través de cualquier modalidad de explotación y utilizando cualquier formato o soporte o medio de explotación o comunicación. Dicha cesión de derechos no está sujeta a ninguna limitación de carácter temporal ni territorial, esto es, se realiza para todo el mundo y por todo el tiempo de vigencia legal de los mismos. Buenanuncio podrá ejercer los derechos de explotación de las fotografías en la forma que estime más conveniente, y podrá incluso transmitirlos o cederlos con carácter exclusivo o no a terceros en los términos y condiciones que considere oportunos.</p>
<p>El usuario garantiza que es pleno titular de los derechos que se ceden a Buenanuncio en virtud de esta cláusula, y que el uso y explotación de los mismos por Buenanuncio no supondrá violación alguna de derechos de propiedad intelectual, ni de imagen, ni, en general, de ninguna otra clase, que correspondan a cualesquiera terceros, obligándose a indemnizar y a mantener indemne a Buenanuncio en caso de infracción.</p>
<h3 id="5-exclusión-de-garantias-y-responsabilidad">5. Exclusión de garantias y responsabilidad</h3>
<p><strong>1. Disponibilidad y Continuidad del Portal y los Servicios</strong></p>
<p>Buenanuncio no garantiza la disponibilidad, el acceso y/o la continuidad del funcionamiento del Portal y de sus Servicios. Asimismo, Buenanuncio no será responsable, con los límites establecidos por la Ley, de los daños y perjuicios causados al Usuario como consecuencia de la indisponibilidad, fallos de acceso y falta de continuidad del Portal y de sus Servicios.</p>
<p><strong>2. Contenidos y Servicios de Buenanuncio</strong></p>
<p>Buenanuncio responderá única y exclusivamente de los Servicios que preste por sí misma y de los contenidos directamente originados por Buenanuncio e identificados con su copyright. Dicha responsabilidad quedará excluida en los casos en que concurran causas de fuerza mayor o en los supuestos en que la configuración de los equipos del Usuario no sea la adecuada para permitir el correcto uso de los servicios de Internet prestados por Buenanuncio.</p>
<p>Sin perjuicio de lo dispuesto, la posible responsabilidad de Buenanuncio frente al usuario o frente a terceros se limita a la más alta de las siguientes cantidades: (a) el precio total que el usuario ha pagado a Buenanuncio durante los doce meses previos al acto que originó la responsabilidad, o bien (b) la cantidad de cien (100) euros, con exclusión, en todo caso, de cualquier tipo de responsabilidad por daños indirectos o por lucro cesante.</p>
<p>El Portal no se hace responsable de la posible aparición de anuncios indexados en buscadores ajenos al portal, una vez se hayan dado de baja de nuestras bases de datos.</p>
<p><strong>3. Contenidos y servicios de terceros</strong></p>
<p>Buenanuncio no revisa o controla previamente, aprueba ni hace propios los contenidos, productos, servicios, opiniones, comunicaciones, datos, archivos y cualquier clase de información de terceros recogidos en el Portal. Asimismo, no garantiza la licitud, fiabilidad, utilidad, veracidad, exactitud, exhaustividad y actualidad de los contenidos, informaciones y servicios de terceros en el Portal. Buenanuncio tampoco garantiza de ninguna forma que los Usuarios del Portal utilicen los contenidos y/o servicios del mismo conforme con la ley, las normativas aplicables, el orden publico ni las presentes Condiciones de Uso.</p>
<p>Buenanuncio no controla con carácter previo y no garantiza la ausencia de virus y otros elementos en los contenidos y servicios prestados por terceros a través del Portal que puedan introducir alteraciones en los equipos de acceso, documentos o ficheros guardados en ellos.</p>
<p>Buenanuncio no se responsabiliza de los contenidos volcados o los actos cometidos por otros usuarios. Tampoco se responsabiliza de cualquier daño o perjuicio como consecuencia de la presencia de virus u otros elementos en los contenidos y servicios prestados por terceros. Asimismo Buenanuncio no responderá de los daños y perjuicios de cualquier naturaleza derivados del uso negligente o malintencionado de las cuentas de correo electrónico utilizadas para insertar un anuncio o responder a un anuncio.</p>
<p>En cualquier caso Buenanuncio no será responsable, ni indirectamente ni subsidiariamente, de la perdida económica o reputación, ni de ninguna clase de daños especiales, indirectos o emergentes, resultantes de la utilización del sitio web por parte del usuario.</p>
<p>La exoneración de responsabilidad señalada en el párrafo anterior será de aplicación en el caso de que Buenanuncio no tenga conocimiento efectivo de que la actividad o la información almacenada es ilícita o de que lesiona bienes o derechos de un tercero susceptibles de indemnización, o si la tuviesen actúe con diligencia para retirar los datos y contenidos o hacer imposible el acceso a ellos.</p>
<p>Sin perjuicio de lo dispuesto anteriormente, la posible responsabilidad de Buenanuncio frente al usuario o frente a terceros se limita a la más alta de las siguientes cantidades: (a) el precio total que el usuario ha pagado a Buenanuncio durante los doce meses previos al acto que originó la responsabilidad, o bien (b) la cantidad de cien (100) euros.</p>
<h3 id="6-contratación-de-servicios-vinculados-al-anuncio">6. Contratación de servicios vinculados al anuncio</h3>
<p>La contratación del servicio "renovación automática" vinculado a un anuncio publicado en el Portal sólo producirá efectos DURANTE el periodo de vigencia del anuncio, no suponiendo en ningún caso una prórroga en la vigencia del mismo por finalización de su publicación, ni tampoco por eliminación activa del anuncio.</p>
<h3 id="7-contratación-con-terceros-a-través-del-portal">7. Contratación con terceros a través del portal</h3>
<p>El Usuario reconoce y acepta que cualquier relación contractual o extracontractual que formalice con los anunciantes o terceras personas contactadas a través del Portal, así como su participación en concursos, promociones, compraventa de bienes o servicios, se entienden realizados única y exclusivamente entre el Usuario y el anunciante y/o tercera persona. El Usuario acepta por lo tanto que Buenanuncio no tiene ningún tipo de responsabilidad sobre los daños o perjuicios de cualquier naturaleza ocasionados con motivo de sus negociaciones, conversaciones y/o relaciones contractuales o extracontractuales con los anunciantes o terceras personas físicas o jurídicas contactadas a través del Portal.</p>
<h3 id="8-enlaces-de-texto-y-enlaces-gráficos">8. Enlaces de texto y enlaces gráficos</h3>
<p>El Portal pone a disposición de sus clientes dispositivos técnicos de enlace de texto y/o enlaces gráficos que permiten a los usuarios el acceso a páginas web titularidad de otras entidades. Estos enlaces están debidamente señalados como publicidad en el Portal.</p>
<p>El cliente previamente autorizado reconoce y acepta que la utilización de los contenidos de las páginas web enlazadas será bajo su exclusivo riesgo y responsabilidad y exonera a Buenanuncio, S.L. de cualquier responsabilidad sobre disponibilidad técnica de las páginas web enlazadas, la calidad, fiabilidad, exactitud y/o veracidad de los servicios, informaciones, elementos y/o contenidos a los que el usuario pueda acceder en las mismas.</p>
<p>Buenanuncio no será responsable indirecta ni subsidiariamente de los daños y perjuicios de cualquier naturaleza derivados de a) el funcionamiento, indisponibilidad, inaccesibilidad y la ausencia de continuidad de las páginas web enlazadas; b) la falta de mantenimiento y actualización de los contenidos y servicios contenidos en las páginas web enlazadas; c) la falta de calidad, inexactitud, ilicitud, inutilidad de los contenidos y servicios de las páginas web enlazadas.</p>
<h3 id="9-derecho-de-limitar-o-poner-fin-al-servicio-de-Buenanuncio">9. Derecho de limitar o poner fin al servicio de Buenanuncio</h3>
<p>Buenanuncio se reserva el derecho, ejercitable en cualquier momento y de modo discrecional a rechazar cualquier anuncio o compromiso de ubicación de un anuncio en una categoría o localidad determinada. Buenanuncio también se reserva el derecho de eliminar cualquier anuncio del Portal sin necesidad de avisar previamente a los usuarios y/o anunciantes.</p>
<p>Buenanuncio puede denegar o poner fin a su servicio y adoptar medidas técnicas y legales para mantener a los usuarios alejados del Portal si creemos que están creando problemas o actuando de forma contraria al espíritu o la forma de nuestras normas y condiciones de uso, todo ello con independencia de cualquier pago realizado por el uso del Portal o servicios complementarios. Sin embargo, decidamos o no retirar el acceso al sitio web de un usuario, no aceptamos ninguna responsabilidad por el uso no autorizado o ilegal del sitio web por los usuarios, tal y como se describe en los párrafos anteriores...</p>
<h3 id="indemnizacion">10. Indemnización por uso abusivo</h3>

<p>Buenanuncio se reserva el derecho, ejercitable en cualquier momento a cobrar una indemnización de un euro o su equivalente en créditos por cada anuncio que se vea obligada a eliminar del portal como consecuencia de contravenir las presentes Condiciones de Uso o Normas de publicación. Buenanuncio también podrá cobrar dicha indemnización, compensando con créditos que haya adquirido el infractor. Tanto el anunciante final como terceras personas o empresas que faciliten con su ayuda el uso abusivo de los servicios, podrán ser requeridos para el pago de esta indemnización.</p>
<h3 id="11-varios">11. Varios</h3>
<p><strong>1. Modificaciones en el Servicio y Condiciones de Uso</strong></p>
<p>Buenanuncio se reserva el derecho a realizar cambios en el Portal, pudiendo modificar, suprimir e incluir, unilateralmente y sin previo aviso, nuevos contenidos así como la forma en que estos aparezcan presentados y localizados.</p>
<p>Asimismo, Buenanuncio se reserva el derecho a realizar cambios las presentes Condiciones de Uso en cualquier momento. El usuario quedará sujeto a las nuevas Condiciones de Uso que hayan sido publicadas en el momento en que acceda o utilice los servicios del Portal.</p>
<p>Si alguna de las presentes condiciones resulta invalidada, nula o inaplicable por cualquier motivo, dicha condición quedará excluida y no afectará a la validez ni la aplicabilidad del resto de condiciones.</p>
<p><strong>2. Precios de los Servicios</strong></p>
<p>Los precios de los servicios serán establecidos en las correspondientes páginas del Portal para cada servicio y serán válidos durante el tiempo que los mismos permanezcan accesibles al Usuario.</p>
<p><strong>3. Menores de Edad</strong></p>
<p>Con carácter general, para hacer uso de los Servicios del Portal los menores de edad deben haber obtenido previamente la autorización de sus padres, tutores o representantes legales, quienes serán responsables de todos los actos realizados a través del Portal por los menores a su cargo. En aquellos Servicios en los que expresamente se señale, el acceso quedará restringido única y exclusivamente a mayores de 18 años.</p>
<h3 id="12-duración-y-terminación">12. Duración y terminación</h3>
<p>La prestación de los servicios y/o contenidos del Portal tiene una duración indefinida.</p>
<p>Sin perjuicio de lo anterior, y además de por las causas establecidas legalmente, Buenanuncio está facultada para dar por terminada, suspender o interrumpir unilateralmente, en cualquier momento y sin necesidad de preaviso, la prestación del servicio y del Portal y/o cualquiera de los servicios.</p>
<h3 id="13-jurisdicción">13. Jurisdicción</h3>
<p>La ley aplicable en caso de disputa o conflicto de interpretación de los términos que conforman estas Condiciones de Uso, así como cualquier cuestión relacionada con los servicios del Portal, será la ley española.</p>
<p>Para la resolución de cualquier controversia que pudiera surgir con ocasión del uso del Portal y sus servicios, las partes acuerdan someterse a la jurisdicción de los Juzgados y Tribunales de la ciudad de Madrid (España), y sus superiores jerárquicos, con expresa renuncia a otros fueros si lo tuvieren y fueran diferentes de los reseñados.</p>
</div>
<div class="ma-PageTermsOfUse-epigraph">

<h2 id="normas-publicacion">Normas de publicación</h2>

<p>Última modificación: 13 de noviembre de 2019</p>
<p>Como regla básica, y tal como se específica en las Condiciones de Uso de Buenanuncio, los anuncios tienen que respetar las leyes y cualesquiera otras normas del ordenamiento jurídico aplicable, las buenas costumbres y el orden público.</p>
<p>Más allá los anunciantes tienen que respetar las Normas Generales de Publicación así como las Normas Específicas de la Categoría en la que se publica un anuncio determinado. </p>
<p>Es importante tener en cuenta que las reglas se actualizan con frecuencia y por lo tanto cambian con el tiempo. Buenanuncio se reserva el derecho de decidir cuándo un anuncio va contra las normas y el espíritu del Portal y, por lo tanto, cuándo es necesario eliminarlo del sitio. Cualquier anuncio o usuario que no convenga con las Condiciones de Uso o las Reglas de Publicación será eliminado y bloqueado de la página.</p>
<p>Como norma general se entenderá como no aceptable cualquier uso de Buenanuncio que <strong>perjudique o moleste a los otros usuarios</strong> que utilizan el portal.</p>
<h3 id="1-normas-generales-de-publicación">1. Normas generales de publicación</h3>
<ol>
<li>Es necesario completar todos los campos obligatorios del formulario PUBLICAR ANUNCIO.</li>
<li>Hay que respetar las categorías y las secciones (demanda vs. oferta).</li>
<li>No está permitido publicar un anuncio idéntico o similar a otro ya publicado.</li>
<li>No está permitido utilizar correos ficticios para publicar un anuncio.</li>
<li>No está permitido escribir el anuncio en mayúsculas.</li>
<li>No está permitido publicar servicios de publicación de anuncios.</li>
<li>No está permitido anunciar algo genérico.</li>
<li>No esta permitido utilizar palabras clave no relacionados al anuncio ("Keyword Spamming").</li>
<li>No está permitido utilizar sistemas o herramientas para la publicación o renovación masiva y/o automática de anuncios, sin el previo consentimiento escrito por Buenanuncio.</li>
<li>No está permitido copiar, procesar o distribuir el texto y/o las fotos o imágenes de terceros sin su previa autorización.</li>
<li>No está permitido incluir el número de teléfono o el correo electrónico fuera de los campos explícitamente previstos para incluir esta información o URL en el campo nombre del formulario PUBLICAR ANUNCIO.</li>
<li>Solo se puede renovar un anuncio de forma gratuita una vez cada 24h (00:01 a las 23:59).</li>
<li>En anuncios válidos para toda España, se tiene que indicar la localidad en la que se encuentra el producto, el animal, el inmueble, el empleo etc.</li>
<li>Un trueque se tiene que anunciar en la categoría del artículo o servicio del que dispone el anunciante.</li>
<li>No está permitido poner un precio ficticio para mejorar las posiciones en las búsquedas.</li>
<li>No está permitido publicar anuncios que promocionen negocios que de algún modo puedan ser competidores de Buenanuncio.</li>
</ol>
<h3 id="2-normas-específicas-de-la-categoría">2. Normas específicas de la categoría</h3>
<h3 id="1-empleo">Empleo</h3>
<ol>
<li>No está permitido publicar anuncios relacionados con el sexo, el erotismo o el fetichismo así como masajes, compañía o amistad en esta sección.</li>
<li>No está permitido anunciar esquemas piramidales o similares.</li>
<li>No se deben anunciar ofertas de auto-empleo (autónomos, contratos mercantiles, ...) o similares en esta sección. Este tipo de ofertas deben ofrecerse en la sección de "negocios". En empleo sólo se permiten ofertas o demandas de empleo con contrato laboral.</li>
<li>No está permitido ofrecer servicios en esta sección. En OFERTAS de empleo se publican anuncios en los que el anunciante quiere contratar a alguien. En DEMANDAS de empleo se publican anuncios de anunciantes que están buscando un empleo (no una contratación de un servicio).</li>
</ol>
<h3 id="3-motor">Motor</h3>
<ol>
<li>Las categorías de coches, todoterrenos y motos están reservadas exclusivamente para vehículos y no se pueden anunciar en ellas servicios, partes, accesorios o similar.</li>
<li>No está permitido publicar fotos de un vehículo que no sea el vehículo en venta.</li>
<li>Se entenderá que un vendedor es profesional siempre que se identifique como tal o que tenga más de tres anuncios activos de coches en el mismo momento. </li>
</ol>
</div>
</div></div>