<div class="mainSuccesAd">
    <div class="textSuccess">
      <h3>¡Enhorabuena!</h3>
        <p>Tu anuncio se ha publicado con <b>éxito</b>.</p>
        <p>Recuerda que puedes renovar cada 24 horas totalmente GRATIS.</p>
        <p>Puedes modificar tus anuncios pulsando <a href="#">aquí</a></p>
        <p>o <a href="">publicar</a> gratis otro anuncio (sin repetir)</p>
    </div>
  <div class="imageSuccess">
    <img src="/images/clap.png">
  </div>

</div>
