<div class="mainContainer">
  <div class="container">
    <div class="header">
      <!--headerSeoLogo-->
    </div>
    <div class="centerContainer">
      <ul>
        <a href="/publicar-anuncio/1"><li>Empleo</li></a>
        <li>Casa y Jardín</li>
        <li>Contactos</li>
      </ul>
    </div>
    <div class="lateralContainer">
      <div class="mainMenu">
        <div class="home"><a href="/">Home</a></div>
        <div class="postAd"><a href="/publicar-anuncio">Publicar</a></div>
      </div>
      <div class="categoryMenu"></div>
    </div>
  </div>
</div>

